@-moz-document domain("google.com") {
/* why the hell does google just fuckin doxx you */
.b0KoTc {
    visibility: hidden;
}

.WJD0pf {
    visibility: hidden;
}

.wob_loc {
    visibility: hidden;
}
}