@-moz-document domain("google.com") {
/* why the hell does google just fuckin doxx you */
.b0KoTc {
    visibility: hidden;
}

.WJD0pf {
    visibility: hidden;
}

.wob_loc {
    visibility: hidden;
}
}

@-moz-document domain("speedtest.net") {
.result-item-icon.result-item-isp .result-data, .result-item-icon.result-item-isp .result-label {
    visibility: hidden;
}
}

@-moz-document domain("fast.com") {
.test-info-group {
    display: none;
}
}