/* Root Revolt backgrounds and colors changes */
/* BG Image */
:root {
    --background: url(https://cdn.discordapp.com/attachments/954151307600597052/954167277224353812/wp8713868-night-beauty-wallpapers.jpg) !important;
    --primary-background: url(https://cdn.discordapp.com/attachments/954151307600597052/954167277224353812/wp8713868-night-beauty-wallpapers.jpg) !important;
	--secondary-background: url(https://cdn.discordapp.com/attachments/954151307600597052/954167277224353812/wp8713868-night-beauty-wallpapers.jpg);
    --background-secondary-alt: url(https://cdn.discordapp.com/attachments/954151307600597052/954167277224353812/wp8713868-night-beauty-wallpapers.jpg);
    --tertiary-background: url(https://cdn.discordapp.com/attachments/954151307600597052/954167277224353812/wp8713868-night-beauty-wallpapers.jpg) !important;
}

/* status icons */
    /* Online */
circle[fill="#50fa7b"] {
    fill: var(--status-online);
}
    /* Idle/Away */
circle[fill="#ffb86c"] {
    fill: var(--status-away);
}
    /* Focus */
circle[fill="#4799F0"] {
    fill: var(--status-focus);
}
    /* DND/Busy */
circle[fill="#ff5555"] {
    fill: var(--status-busy);
}
    /* Offline/Invis */
circle[fill="#6272a4"] {
    fill: var(--status-invisible);
}

/* app */
body, html {
    background: url(https://cdn.discordapp.com/attachments/954151307600597052/954167277224353812/wp8713868-night-beauty-wallpapers.jpg) !important;
    background-size: cover !important;
}

/* selection color */
::selection {
    background-color: rgba(207,95,181,0.4)
}

/* server settings page */
._settings_t7t23_33 {
    background: transparent;
}
._settings_t7t23_33 ._sidebar_t7t23_39 {
    background: transparent;
}

/* message/members list */
.hpNYLK {
    background: transparent;
}

/* members list */
.jyizw {
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
}

.fWMCga, .dUCGFk {
    background: none;
}

/* server/channel lists */
.JkpVA {
    background: none;
}
/* discover */
.jAWgqa, .kcZkuw, .gAGipD, .cRCSBm {
    background: none !important;
}
:root {
    --secondary-background: transparent !important;
}
.cRCSBm {
    background: transparent !important;
}

    /* discover sidebar */
.cRCSBm {
    background: none;
}

    /* discover cards */
.jwSlvG {
    background: rgba(0,0,0,0.2);
}

/* Revolt Root CSS */
:root, html :root {
    --accent: rgb(255, 121, 198) !important;
    --accent-rgb: 255,121,198;
	--background-modifier-accent: rgba(255, 0, 197, .13);
    --background-rgb: none;
    --foreground: #f8f8f2;
    --foreground-rgb: 248,248,242;
    --block: #1C1D26;
    --block-rgb: 28,29,38;
    --message-box: rgba(0,0,0,0.3);
    --message-box-rgb: 52,54,70;
    --mention: rgb(139,233,253,0.05);
    --mention-rgb: 139,233,253;
    --success: #50fa7b;
    --success-rgb: 80,250,123;
    --warning: #ffb86c;
    --warning-rgb: 255,184,108;
    --tooltip: #000000;
    --tooltip-rgb: 0,0,0;
    --error: #ff5555;
    --error-rgb: 255,85,85;
    --hover: rgba(255, 163, 231, .19) !important;
    --hover-rgb: 255,163,231;
    --scrollbar-thumb: #bd93f9;
    --scrollbar-thumb-rgb: 189,147,249;
    --scrollbar-track: transparent;
    --scrollbar-track-rgb: 0,0,0;
    --primary-background-rgb: 40,42,54;
    --primary-header: #343646;
    --primary-header-rgb: 52,54,70;
    --secondary-background-rgb: 28,29,38;
    --secondary-foreground: #f8f8f2;
    --secondary-foreground-rgb: 248,248,242;
    --secondary-header: rgba(0,0,0,0.3);
    --secondary-header-rgb: 0,0,0;
    --tertiary-background: #282a36;
    --tertiary-background-rgb: 40,42,54;
    --tertiary-foreground: #AEAEA9;
    --tertiary-foreground-rgb: 174,174,169;
    --status-online: rgb(207, 95, 181);
    --status-online-rgb: 207, 85, 181;
    --status-away: rgb(17, 239, 171);
    --status-away-rgb: 17,239,171;
    --status-focus: rgb(255, 0, 0);
    --status-focus-rgb: 255,0,0;
    --status-busy: rgb(255, 0, 124);
    --status-busy-rgb: 255,0,124;
    --status-streaming: rgb(110, 20, 239);
    --status-streaming-rgb: 110,20,239;
    --status-invisible: rgb(0, 0, 0);
    --status-invisible-rgb: 0,0,0;
    --sidebar-active: rgba(0,0,0,0);
    --sidebar-active-rgb: 47,49,54;
    --light: false;
    --light-rgb: 0,0,0;
    --accent-contrast: white;
    --accent-contrast-rgb: 255,255,255;
    --background-contrast: white;
    --background-contrast-rgb: 255,255,255;
    --foreground-contrast: black;
    --foreground-contrast-rgb: 0,0,0;
    --block-contrast: white;
    --block-contrast-rgb: 255,255,255;
    --message-box-contrast: white;
    --message-box-contrast-rgb: 255,255,255;
    --mention-contrast: black;
    --mention-contrast-rgb: 0,0,0;
    --success-contrast: black;
    --success-contrast-rgb: 0,0,0;
    --warning-contrast: black;
    --warning-contrast-rgb: 0,0,0;
    --tooltip-contrast: white;
    --tooltip-contrast-rgb: 255,255,255;
    --error-contrast: white;
    --error-contrast-rgb: 255,255,255;
    --hover-contrast: white;
    --hover-contrast-rgb: 255,255,255;
    --scrollbar-thumb-contrast: white;
    --scrollbar-thumb-contrast-rgb: 255,255,255;
    --scrollbar-track-contrast: white;
    --scrollbar-track-contrast-rgb: 255,255,255;
    --primary-background-contrast: white;
    --primary-background-contrast-rgb: 255,255,255;
    --primary-header-contrast: white;
    --primary-header-contrast-rgb: 255,255,255;
    --secondary-background-contrast: white;
    --secondary-background-contrast-rgb: 255,255,255;
    --secondary-foreground-contrast: black;
    --secondary-foreground-contrast-rgb: 0,0,0;
    --secondary-header-contrast: white;
    --secondary-header-contrast-rgb: 255,255,255;
    --tertiary-background-contrast: white;
    --tertiary-background-contrast-rgb: 255,255,255;
    --tertiary-foreground-contrast: white;
    --tertiary-foreground-contrast-rgb: 255,255,255;
    --status-online-contrast: black;
    --status-online-contrast-rgb: 0,0,0;
    --status-away-contrast: black;
    --status-away-contrast-rgb: 0,0,0;
    --status-focus-contrast: white;
    --status-focus-contrast-rgb: 255,255,255;
    --status-busy-contrast: white;
    --status-busy-contrast-rgb: 255,255,255;
    --status-streaming-contrast: white;
    --status-streaming-contrast-rgb: 255,255,255;
    --status-invisible-contrast: white;
    --status-invisible-contrast-rgb: 255,255,255;
    --sidebar-active-contrast: white;
    --sidebar-active-contrast-rgb: 255,255,255;
    --min-opacity: 0;
    --min-opacity-rgb: 0,0,0;
    --header-height: 48px;
    --header-height-rgb: undefined,undefined,undefined;
    --effective-bottom-offset: 0px;
    --effective-bottom-offset-rgb: undefined,undefined,undefined;
}

.theme-dark, .theme-light {
    --header-primary: #ff64c6;
    --header-secondary: #ff7deb;
    --text-normal: #e4f2ff;
    --text-muted: #76b4ff;
    --text-link: var(--background-accent);
    --text-link-low-saturation: var(--background-accent);
    --text-positive: var(--background-accent);
    --text-warning: hsl(650, calc(var(--saturation-factor, 1)*95.7%), 54.1%);
    --text-danger: hsl(659, calc(var(--saturation-factor, 1)*82.6%), 59.4%);
    --text-brand: hsl(655, calc(var(--saturation-factor, 1)*85.6%), 64.7%);
    --interactive-normal: #ce61c1;
    --interactive-hover: #ff63cb;
    --interactive-active: #ff53ea;
    --interactive-muted: #b864f4;
    --background-accent: rgba(255, 104, 228, .98);
    --background-floating: #f000;
    --background-mobile-primary: #ffa4f047;
    --background-mobile-secondary: #ff97f173;
    --background-modifier-hover: rgba(255, 163, 231, .19);
    --background-modifier-active: rgba(255, 151, 234, .16);
    --background-modifier-selected: #ff6aeda1;
    --info-positive-text: #cdffe9;
    --info-warning-text: #d7fffc;
    --info-danger-text: #d2fff9;
    --info-help-background: hsla(650,calc(var(--saturation-factor, 1)*100%),43.9%,0.1);
    --info-help-foreground: hsl(650,calc(var(--saturation-factor, 1)*100%),43.9%);
    --info-help-text: #cefff0;
    --status-warning-text: #ffb5b5;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #cccccc2e;
    --scrollbar-auto-track: #f2f2f20f;
    --scrollbar-auto-scrollbar-color-thumb: #e3e5e838;
    --scrollbar-auto-scrollbar-color-track: #f2f3f533;
    --elevation-stroke: 0 0 0 1px rgba(6, 6, 7, 0.08);
    --elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
    --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.08);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.16);
    --logo-primary: hsl(655, calc(var(--saturation-factor, 1)*85.6%), 64.7%);
    --control-brand-foreground: hsl(655, calc(var(--saturation-factor, 1)*85.6%), 64.7%);
    --control-brand-foreground-new: hsl(655, calc(var(--saturation-factor, 1)*85.6%), 64.7%);
    --background-mentioned: hsla(150, calc(var(--saturation-factor, 1)*95.7%), 54.1%, 0.15);
    --background-mentioned-hover: hsla(150, calc(var(--saturation-factor, 1)*95.7%), 54.1%, 0.2);
    --background-message-hover: rgb(229 125 206 / 25%);
    --channels-default: #ff50f3a8;
    --guild-header-text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.4);
    --channeltextarea-background: #a2a2a20a;
    --activity-card-background: #ffffff0f;
    --textbox-markdown-syntax: #3b46541f;
    --input-background: rgba(0,0,0,0.5);
	--modal-footer-background: transparent;
    --deprecated-card-bg: #00ffff38;
    --deprecated-card-editable-bg: rgb(246 246 247 / 57%);
    --deprecated-store-bg: #05ffff29;
    --deprecated-quickswitcher-input-background: #ffffff08;
    --deprecated-quickswitcher-input-placeholder: rgb(79 84 92 / 11%);
    --deprecated-text-input-bg: rgba(172, 204, 255, .02);
    --deprecated-text-input-border: hsla(217, 100%, 80%, .3);
    --deprecated-text-input-border-hover: #b9bbbe33;
    --deprecated-text-input-border-disabled: #9bcdff54;
    --deprecated-text-input-prefix: #9fc5ff38;
    --button-positive-background: #CF5FB5;
    --button-positive-background-hover: rgba(207, 95, 181, 0.7);
    --button-positive-background-active: rgba(207, 95, 181, 0.7);
    --button-positive-background-disabled: rgba(113, 0, 87, 0.7);
}
/* Individual Items */
/* Home Button RGB */
@keyframes HueShiftRGB {
    0% {filter: hue-rotate(0deg);}
    2.5% {filter: hue-rotate(9deg);}
    5% {filter: hue-rotate(18deg);}
    7.5% {filter: hue-rotate(27deg);}
    10% {filter: hue-rotate(36deg);}
    12.5% {filter: hue-rotate(45deg);}
    15% {filter: hue-rotate(54deg);}
    17.5% {filter: hue-rotate(63deg);}
    20% {filter: hue-rotate(72deg);}
    22.5%{filter: hue-rotate(81deg);}
    25% {filter: hue-rotate(90deg);}
    27.5% {filter: hue-rotate(99deg);}
    30% {filter: hue-rotate(108deg);}
    32.5% {filter: hue-rotate(117deg);}
    35% {filter: hue-rotate(126deg);}
    37.5% {filter: hue-rotate(135deg);}
    40% {filter: hue-rotate(144deg);}
    42.5% {filter: hue-rotate(153deg);}
    45% {filter: hue-rotate(162deg);}
    47.5% {filter: hue-rotate(171deg);}
    50% {filter: hue-rotate(180deg);}
    52.5% {filter: hue-rotate(189deg);}
    55% {filter: hue-rotate(198deg);}
    57.5% {filter: hue-rotate(207deg);}
    60% {filter: hue-rotate(216deg);}
    62.5% {filter: hue-rotate(225deg);}
    65% {filter: hue-rotate(234deg);}
    67.5% {filter: hue-rotate(243deg);}
    70% {filter: hue-rotate(252deg);}
    72.5% {filter: hue-rotate(261deg);}
    75% {filter: hue-rotate(270deg);}
    77.5% {filter: hue-rotate(279deg);}
    80% {filter: hue-rotate(288deg);}
    82.5% {filter: hue-rotate(297deg);}
    85% {filter: hue-rotate(306deg);}
    87.5% {filter: hue-rotate(315deg);}
    90% {filter: hue-rotate(324deg);}
    92.5% {filter: hue-rotate(333deg);}
    95% {filter: hue-rotate(342deg);}
    97.5% {filter: hue-rotate(351deg);}
    100% {filter: hue-rotate(360deg);}
}

@keyframes ColorShiftRGB {
    0% {color: red;}
    12.5% {color: #fe0;}
    25% {color: #5f0;}
    37.5% {color: #0f0}
    50% {color: #0fd;}
    62.5% {color: #10f}
    75% {color: #90f;}
    87.5% {color: #f09;}
    100% {color: red;}
}

@keyframes BGColorShiftRGB {
    0% {background-color: red;}
    12.5% {background-color: #fe0;}
    25% {background-color: #5f0;}
    37.5% {background-color: #0f0}
    50% {background-color: #0fd;}
    62.5% {background-color: #10f}
    75% {background-color: #90f;}
    87.5% {background-color: #f09;}
    100% {background-color: red;}
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    animation-name: HueShiftRGB;
    border-radius: 15px;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.homeIcon-r0w4ny {
    animation-name: ColorShiftRGB;
    border-radius: 15px;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.image-20MDYu {
    filter: invert(0.9) opacity(0.5);
}
/* discover page */
    /* search box */
.jaBfkO {
    background: rgba(0,0,0,0.2);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background;
}

.jaBfkO input:focus-visible {
    background: var(--hover);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background;
}

    /* cards */
.KldgT {
    -webkit-mask: linear-gradient(to bottom, #000 50%, rgb(53 53 53 / 0%));
    mask: linear-gradient(to bottom, #000 50%, transparent);
}

/* remove call buttons, delete this section if you want */
div[aria-label="Start Voice Call"] {
    display: none;
}

div[aria-label="Start Video Call"] {
    display: none;
}

/* topbar */
.fPzJRX {
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
    background-size: cover !important;
    background-position: center center !important;
}

.dzRjrU {
	backdrop-filter: blur(1px);
}

/* verification banner(?) */
.colorDefault-1e8tQv {
    background-color: var(--status-positive-background);
    color: white;
}

/* remove help button, delete this section if you want */
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div.container-1eFtFS > div > div > div.chat-2ZfjoI > section > div.toolbar-3_r2xA > a {
    display: none;
}

#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div.container-1eFtFS > div > div.content-1SgpWY > div.container-2cd8Mz > section > div.toolbar-3_r2xA > a {
	display: none;
}

/* homepage topbar buttons */
.tabBar-ra-EuL .item-3mHhwr {
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
    min-width: 40px;
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1, .tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover {
    background-color: transparent;
    color: var(--interactive-normal);
	transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover {
	background-color: var(--background-modifier-hover) !important;
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1[aria-selected=true] {
	background-color: var(--background-modifier-selected);
    color: #5cff5c;
}

.container-3tKtM_ {
	transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
	border: 5px solid var(--background-modifier-selected);
}

/* homepage, active now */
.theme-light .inset-SbsSFp, .theme-dark .inset-SbsSFp {
    background-color: rgba(0,0,0,0.25);
    border-radius: 6px;
    border: 3px rebeccapurple solid;
}

.itemCard-3Etziu:first-of-type {
    margin-top: 0;
    border: 4px purple solid;
}

.itemCard-3Etziu.wrapper-2RrXDg.outer-2JOHae.padded-2NSY6O.interactive-2zD88a {
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

.itemCard-3Etziu.wrapper-2RrXDg.outer-2JOHae.padded-2NSY6O.interactive-2zD88a:hover {
    background-color: rgba(167, 96, 166, 0.3);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

section.section-3G9aLW {
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

section.section-3G9aLW:hover {
    background-color: rgba(244, 116, 255, 0.25);
	transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}
/* message box */
.jBEnry {
    background: rgb(45, 45, 45, 0.2);
    backdrop-filter: blur(1px);
}

/* emoji picker */
.kpGWUw {
    box-shadow: var(--elevation-stroke),var(--elevation-high);
    background: transparent;
}

.hRGhez {
	background: transparent;
}

/* Message Hover Effects */
.jCxwsP, .kUMlXs, .gRLOyd {
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

.jCxwsP:hover, .kUMlXs:hover, .gRLOyd:hover {
	background: var(--background-message-hover);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

/* Mentioned outline */
.mentioned-Tre-dv, .message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy, .mouse-mode.full-motion .mentioned-Tre-dv:hover, .mouse-mode.full-motion .message-2CShn3.mentioned-Tre-dv:hover {
    border-color: rgb(200 91 177) !important;
    box-shadow: inset 0px 0px 14px 1px rgb(207 95 181), 0px 0px 6px 6px rgb(207 95 181);
}

/* message pad/margin mods */
.wrapper-30-Nkg.cozy-VmLDNB, .wrapper-30-Nkg.compact-2Nkcau {
    margin-left: 32px;
    margin-right: 25px;
    padding: 0px;
    padding-right: 2px !important;
    border: 1px solid transparent;
}

.compact-2Nkcau .contents-2MsGLg {
    margin-left: 1rem;
    padding-left: 3rem;
    text-indent: -4rem;
}

/* recolor text */
.markup-eYLPri h1, .markup-eYLPri h2, .markup-eYLPri h3, .markup-eYLPri h4, .markup-eYLPri h5, .markup-eYLPri h6 {
    font-weight: 700;
    color: white;
    line-height: 1.5rem;
}

/* server invites */
.flex-2S1XBF.flex-3BkGQD.vertical-3aLnqW.flex-3BkGQD.directionColumn-3pi1nm.justifyCenter-rrurWZ.alignStretch-Uwowzr.noWrap-hBpHBz.guildInfo-UCKhrV {
    align-items: center;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    width: -webkit-fill-available;
	font-weight: bolder;
}

.content-1r-J1r {
    width: max-content;
    border: solid;
    border-radius: 10px;
    border-color: rgb(200 91 177) !important;
    box-shadow: inset 0px 0px 14px 1px rgb(207 95 181), 0px 0px 6px 6px rgb(207 95 181);
    padding: 10px;
    gap: 16px;
}

.guildIcon-3ZfRfI {
    background-color: var(--primary-background);
    flex: 1 1 auto;
    margin-left: 10px;
    max-width: 70px;
    min-height: 70px;
}

/* profile popup bg */
.kVCswW {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

.layer-1Ixpg3 {
    backdrop-filter: blur(1.2px)
}

/* inbox */
.container-nwU-8G {
    backdrop-filter: blur(1.3px);
    align-items: center;
    min-height: 400px;
    text-align: center;
    padding: 0 16px;
}

/* user popout */
.userPopout-2j1gM4 {
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(1.5px);
    border-radius: 8px;
}

.userPopout-2j1gM4 .popoutBanner-3cqRD9 {
    -webkit-mask: linear-gradient(to bottom, #000, transparent 93%);
    mask: linear-gradient(to bottom, #000, transparent 93%);
}

.userPopoutInnerNonPremium-1EOFgI {
    background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-primary-color) 60px,var(--profile-gradient-secondary-color));
}
/* profile popup */
._content_17p8w_77 {
    background: rgba(0,0,0,0.3);
}

/* profile banner fade */
.profileBanner-1owKI5, .popoutBanner-16rVDY, .profileBanner-2zIsK7 {
    -webkit-mask: linear-gradient(to bottom, #000 50%, transparent);
    mask: linear-gradient(to bottom, #000 50%, transparent);
}

.popoutBannerPremium-2RvDNZ, .popoutBannerPremium-3i5EEI {
    height: 140px;
    -webkit-mask: linear-gradient(to bottom, #000 50%, transparent);
    mask: linear-gradient(to bottom, #000 50%, transparent);
}

.bannerSVGWrapper-qc0szY {
    -webkit-mask: linear-gradient(to bottom, #000 50%, transparent);
    mask: linear-gradient(to bottom, #000 50%, transparent);
}

/* home screen button hover effects */
.interactive-iyXY_x {
    transition-property: background-color, color;
    transition-duration: 0.3s
}

.interactive-iyXY_x:hover {
    transition-property: background-color, color;
    transition-duration: 0.3s
}

/* settings page */
    /* text boxes */
.bEeAEn, .habcqT {
    background: rgba(0,0,0,0.2);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

.bEeAEn:hover, .habcqT:hover {
    background: var(--hover);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

    /* dropdown buttons */
.jfwTbF {
    background: rgba(0,0,0,0.2);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

.jfwTbF:hover {
    background: var(--hover);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

    /* profile */
._user_11fa1_1 ._preview_11fa1_107 {
    background: none !important;
}

._user_11fa1_1 ._preview_11fa1_107>div {
    transform: scale(1);
}

._settings_t7t23_33 ._action_t7t23_224 ._closeButton_t7t23_240 {
    border: solid 2px purple !important;
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

._settings_t7t23_33 ._action_t7t23_224 ._closeButton_t7t23_240:hover {
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

/* app blur effect in settings */
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div.layer-86YKbF.baseLayer-W6S8cY.stop-animations {
    opacity: 0.3 !important;
    filter: blur(5px) !important;       
}

.side-2ur1Qk .item-3XjbnG:hover { 
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2px;
    border-radius: 4px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: background-color;
}

.standardSidebarView-E9Pc3j {
    position: absolute;
    top: 0;
    left: 16%;
    bottom: 0;
    right: 0px;
    z-index: 101;
}

.sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -250px;
    -webkit-box-flex: 1;
    width: 130px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    z-index: -1;
}

.sidebarRegionScroller-FXiQOh {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.sidebar-nqHbhN {
    width: 250px;
    padding: 60px 6px 60px 20px;
}

.contentRegion-3HkfJJ {
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 800px;
    left: -130px;
    flex: 4 1 0px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contentColumnDefault-3eyv5o {
    padding: 60px 0px 80px;
}

.contentColumn-1C7as6, .customColumn-2n-oKU {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 830px;
    min-width: 600px;
    min-height: 100%;
}

.contentRegionScroller-2_GT_N {
    height: 100%;
    position: static;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow-x: hidden;
}

.container-O54IuJ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    padding-left: 25px;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* Members list */
.layout-1qmrhw {
    border-radius: 6px;
    transition: 0.27s background-color;
}

/* server context menu */
.menu-1QACrS[aria-label="Server Actions"] {
    border-radius: 4px;
    backdrop-filter: blur(2px);
    background: rgba(0,0,0,0.6);
}

/* server context buttons */
.colorDefault-CDqZdO {
    transition: 0.3s background-color;
}

/* user settings context menu */
#user-settings-cog {	
	background-color: rgba(0,0,0,0.6) !important;
}
	/* context submenu */
	.submenuPaddingContainer-_k62dJ {
    background: rgba(0,0,0,0.5);
}

.colorDefault-CDqZdO:hover {
    background-color: rgba(255, 125, 212, 0.3) !important;
    transition: 0.3s background-color, color;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: rgba(255, 125, 212, 0.3) !important;
    transition: 0.3s background-color, color;
}

.colorDefault-CDqZdO.focused-3qFvc8:hover {
    background-color: rgba(255, 125, 212, 0.3) !important;
    color: white;
    transition: 0.3s background-color, color;
}

/* loading?/dc|rc screen */
.container-2RRFHK {
    padding-top: 22px;
    top: -22px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
}

/* more status indicators */
section[aria-label="Channel header"] div[aria-label="Offline"] rect[fill*="hsl"] {
    mask: none;
    fill: black;
    clip-path: circle(38% at center) !important;
}

section[aria-label="Channel header"] div[aria-label="Do Not Disturb"] rect[fill*="hsl"] {
    mask: none;
    fill: red;
    clip-path: circle(38% at center) !important;
}

section[aria-label="Channel header"] div[aria-label="Idle"] rect[fill*="hsl"] {
    mask: none;
    fill: #11efab;
    clip-path: circle(38% at center) !important;
}

section[aria-label="Channel header"] div[aria-label="Online"] rect[fill*="hsl"] {
    mask: none;
    fill: #CF5FB5;
    clip-path: circle(38% at center) !important;
}


div[aria-label="Set Status"] rect[fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"] {
    fill: black;
}

div[aria-label="Set Status"] rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
    fill: red;
}

div[aria-label="Set Status"] rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
    fill: #11efab;
}

div[aria-label="Set Status"] rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
    fill: #CF5FB5;
}

/* server buttons */
.childWrapper-1j_1ub, .wrapper-3kah-n {
    width: 48px;
    height: 46px;
}

.wrapper-3kah-n {
    margin-top: 2px;
}

/* account switch pop */
.theme-light .root-g14mjS, .theme-dark .root-g14mjS {
    background: rgba(0,0,0,0.3);
    border-radius: 12px;
    box-shadow: none; 
}

.theme-light.authBox-1HR6Ha, .theme-dark.authBox-1HR6Ha {
    background: rgba(0,0,0,0.1);
}

/* attachment msg position */
.container-2sjPya>* {
    margin-left: 1rem;
    padding-left: 2rem;
}

/* image msgs */
.imageWrapper-oMkQl4 {
    border-radius: 16px !important;
}

/* embeds */
.embed-hKpSrO {
    max-width: 650px;
    border-radius: 4px;
    padding-left: 3px !important;
}

/* search */
.bQkbYV {
	background: rgba(0,0,0,0.2);
}

.bQkbYV:hover {
    background: var(--background-message-hover);
}

/* server home page */
.theme-dark .background-fkKrXt {
    background-color: transparent;
}

/* server channel list */
.container-3XgAHv {
    background: none;
}

.resizeHandle-PBRzPC {
    border-left-width: 1px !important;
    border-left: dashed;
    border-color: darkmagenta;
    width: 8px;

}

.iconVisibility-vptxma  {
    background: none;
    transition-property: background, color, opacity;
    transition-duration: 0.4s
}

.iconVisibility-vptxma:hover {
    background: var(--background-modifier-hover);
    transition-property: background, color, opacity;
    transition-duration: 0.4s
}

.content-1gYQeQ {
    padding: 0 8px;
    margin-left: 0px;
    border-radius: 9px;
}

.mainContent-20q_Hp {
    border-radius: 9px;
    padding: 6px 0;
}

.wrapper-NhbLHG {
    padding: 1px 0;
    border-radius: 9px;
}

/* profile theme popout */
.avatar-2OC07D {
    border: 6px solid rgb(117 0 255);
    background-color: rgb(117 0 255);
}

.userPopoutInner-PA9zkU {
    border-radius: 8px 8px 0 0;
    background: linear-gradient(#8400ff 120px,rgb(125 0 255) 0,rgb(251 0 255));
    /* -webkit-mask: linear-gradient(to top, #000 50%, transparent); */
}


.popoutBannerPremium-2RvDNZ {
    height: 140px;
    -webkit-mask: linear-gradient(to bottom, #000 50%, transparent);
    mask: linear-gradient(to bottom, #000 50%, transparent);
}

.avatarPositionPremium-26XiTj {
    top: 95px;
    left: 20px;
}

.avatarPositionNormal-V4Mjtq {
	margin-top: 5%;
    left: 20px;
}

.avatarPositionPremiumBanner-2nq2Fy {
    margin-top: 3%;
}

.popoutBanner-16rVDY {
    height: 100px;
    -webkit-mask: linear-gradient(to bottom, #000 50%, transparent);
    mask: linear-gradient(to bottom, #000 50%, transparent);
}

.overlayBackground-arbZMT {
    margin: 70px 16px 16px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 8px;
    max-height: calc(100vh - 128px);
}

/* toggles */
.container-2nx-BQ, .input-2XRLou {
    background-color: #CF5FB5 !important;
}