/* ==UserStyle==
 * @name         Roblox Light Glass 
 * @namespace    roblox.com
 * @version      0.26.1.2
 * @author       Fython
 * @description  Glassy Theme for Roblox
 * @updateURL	 https://raw.githubusercontent.com/Furthir/custom-css/main/Roblox.css
 * @preprocessor stylus
 ------------------------------------------------
 @var select bg-image "Preset Background Image" {
 "Default":		"url(https://i.postimg.cc/ZqQMg7tP/skylake.jpg)",
 "Lightscape":  "url(https://i.postimg.cc/1Xgkg6pS/lightscape.jpg)",
 "Energy":		"url(https://i.postimg.cc/BQktY9NZ/energy.png)",
 "Skymountain": "url(https://i.postimg.cc/yYhHptZ7/Skymountain.jpg)",
 "Custom":		"custom-bg",
}

 @var text  custom-bg  "Custom BG, include url()"  "url()"
 @var range bgblur  "Background blur"              [0, 0, 10, 1, "px"]
==/UserStyle== */
/* set vars */
sT = 0.25s ease

@-moz-document domain("roblox.com") {
::selection {
    background-color: rgba(0, 255, 232, .65);
}

@keyframes RGBFilter {
    0% {filter: contrast(0) sepia(1) hue-rotate(0deg) saturate(9);}
    5% {filter: contrast(0) sepia(1) hue-rotate(18deg) saturate(9);}
    10% {filter: contrast(0) sepia(1) hue-rotate(36deg) saturate(9);}
    15% {filter: contrast(0) sepia(1) hue-rotate(54deg) saturate(9);}
    20% {filter: contrast(0) sepia(1) hue-rotate(72deg) saturate(9);}
    25% {filter: contrast(0) sepia(1) hue-rotate(90deg) saturate(9);}
    30% {filter: contrast(0) sepia(1) hue-rotate(108deg) saturate(9);}
    35% {filter: contrast(0) sepia(1) hue-rotate(126deg) saturate(9);}
    40% {filter: contrast(0) sepia(1) hue-rotate(144deg) saturate(9);}
    45% {filter: contrast(0) sepia(1) hue-rotate(162deg) saturate(9);}
    50% {filter: contrast(0) sepia(1) hue-rotate(180deg) saturate(9);}
    55% {filter: contrast(0) sepia(1) hue-rotate(198deg) saturate(9);}
    60% {filter: contrast(0) sepia(1) hue-rotate(216deg) saturate(9);}
    65% {filter: contrast(0) sepia(1) hue-rotate(234deg) saturate(9);}
    70% {filter: contrast(0) sepia(1) hue-rotate(252deg) saturate(9);}
    75% {filter: contrast(0) sepia(1) hue-rotate(270deg) saturate(9);}
    80% {filter: contrast(0) sepia(1) hue-rotate(288deg) saturate(9);}
    85% {filter: contrast(0) sepia(1) hue-rotate(306deg) saturate(9);}
    90% {filter: contrast(0) sepia(1) hue-rotate(324deg) saturate(9);}
    95% {filter: contrast(0) sepia(1) hue-rotate(342deg) saturate(9);}
    100% {filter: contrast(0) sepia(1) hue-rotate(360deg) saturate(9);}
}

@keyframes RGBBackground {
    0% {background-color: rgb(255,0,0);}
    5% {background-color: rgb(255,115,0);}
    10% {background-color: rgb(255,200,0);}
	15% {background-color: rgb(255,255,0);}
    20% {background-color: rgb(200,255,0);}
	25% {background-color: rgb(115,255,0);}
	30% {background-color: rgb(0,255,0);}
    35% {background-color: rgb(0,255,115);}
    40% {background-color: rgb(17, 239, 171);}
	45% {background-color: rgb(0,255,200);}
    50% {background-color: rgb(0,255,255);}
    55% {background-color: rgb(0,200,255);}
	60% {background-color: rgb(0,115,255);}
	65% {background-color: rgb(0,0,255);}
    70% {background-color: rgb(115,0,255);}
    75% {background-color: rgb(200,0,255);}
    80% {background-color: rgb(207, 95, 181);}
    85% {background-color: rgb(255,0,255);}
    90% {background-color: rgb(255,0,200);}
    95% {background-color: rgb(255,0,115);}
    100% {background-color: rgb(255,0,0);}
}

.dark-theme .container-footer, .light-theme .container-footer {
    background-color: transparent;
}

.dark-theme, .light-theme {
    background: rgba(0,0,0,0.1) !important;
    color: black

}

#container-main > .content, #MasterContainer #BodyWrapper {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba(155,155,155,0.07);
}

.home-container {
    float: unset !important;
    max-width: 970px;
    width: 100%;
}

.light-theme .section-content, .dark-theme .section-content {
    background-color: rgba(155,155,155,0.07);
    color: #393b3d;
}

.light-theme .input-field, .dark-theme .input-field {
    background-color: rgba(140,140,140,0.2);
    border-color: rgba(57,59,61,.2);
    color: #606162;
    border-radius: 8px;
}

/* notification button */
.dark-theme .btn-uiblox-common-common-notification-bell-md {
    background-color: transparent;
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

.dark-theme .btn-uiblox-common-common-notification-bell-md:hover {
    background-color: rgba(0,0,0,0.3);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

.dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body, .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .container-empty, .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .notification-stream-loading {
    background-color: rgba(0,0,0,0.1);
}

.light-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body, .light-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .container-empty, .light-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .notification-stream-loading {
    background-color: transparent;
}

.dark-theme .notification-stream-body, .light-theme .notification-stream-body {
    background-color: transparent;
    color: #fff;
}

.dark-theme .notification-stream-loading, .light-theme .notification-stream-loading {
    background-color: transparent;
    color: #fff;
}

.dark-theme .notification-stream-banner.banner-new, .light-theme .notification-stream-banner.banner-new {
    display: none;
    background-color: rgba(20,20,20,0.5);
    border: 0;
    margin: 0;
    text-align: center;
    color: #bdbebe;
}

.dark-theme .notification-stream-header, .notification-stream-header.dark-theme, .light-theme .notification-stream-header, .notification-stream-header.light-theme {
    background-color: rgba(20,20,20,0.3);
}

.dark-theme .notification-stream-banner.banner-error, .light-theme .notification-stream-banner.banner-error {
    display: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    text-align: center;
    color: #fff;
}

.dark-theme .notification-stream-container .notification-content-view, .light-theme .notification-stream-container .notification-content-view {
    background-color: transparent;
    color: #fff;
}

.dark-theme .notification-stream-body .container-empty, .light-theme .notification-stream-body .container-empty {
    background-color: transparent;
    backdrop-filter: blur(2px);
    color: #fff;
}

.dark-theme .dropdown-menu, .light-theme .dropdown-menu {
    background-color: transparent;
    color: #fff;
}

.dark-theme .popover, .light-theme .popover {
    background-color: transparent;
    color: #fff;
}

#navigation {
    background-color: transparent;
    backdrop-filter: blur(2px);
    
}

.light-theme .icon-default-logo, .light-theme .icon-logo, .dark-theme .icon-logo {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiPgoJPHRpdGxlPklNR18yOTg1PC90aXRsZT4KCTxzdHlsZT4KCQkuczAgeyBmaWxsOiAjZmZmZmZmIH0gCgk8L3N0eWxlPgoJPHBhdGggaWQ9IlNoYXBlIDEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xhc3M9InMwIiBkPSJtOS44IDEuMmwzNyA4LjYtOC42IDM3LTM3LTguNnptOS41IDI1LjhsNy43IDEuOCAxLjgtNy44LTcuNy0xLjh6Ii8+Cjwvc3ZnPg==") !important;
}

.icon-default-logo, .icon-logo {
    width: 58px;
    height: 30px;
    background-size: 58px 30px;
    transition: transform .7s ease 0.1s;
    animation-name: RGBFilter;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.icon-default-logo:hover, .icon-logo:hover {
    background-position: 0 0;
    transform: rotate(270deg);
}

.dark-theme .icon-default-logo-r, .dark-theme .icon-logo-r, .dark-theme .icon-logo-r-95 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiPgoJPHRpdGxlPklNR18yOTg1PC90aXRsZT4KCTxzdHlsZT4KCQkuczAgeyBmaWxsOiAjZmZmZmZmIH0gCgk8L3N0eWxlPgoJPHBhdGggaWQ9IlNoYXBlIDEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xhc3M9InMwIiBkPSJtOS44IDEuMmwzNyA4LjYtOC42IDM3LTM3LTguNnptOS41IDI1LjhsNy43IDEuOCAxLjgtNy44LTcuNy0xLjh6Ii8+Cjwvc3ZnPg==") !important; 
}

.light-theme .icon-default-logo-r, .light-theme .icon-logo-r, .light-theme .icon-logo-r-95 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiPgoJPHRpdGxlPklNR18yOTg1PC90aXRsZT4KCTxzdHlsZT4KCQkuczAgeyBmaWxsOiAjZmZmZmZmIH0gCgk8L3N0eWxlPgoJPHBhdGggaWQ9IlNoYXBlIDEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xhc3M9InMwIiBkPSJtOS44IDEuMmwzNyA4LjYtOC42IDM3LTM3LTguNnptOS41IDI1LjhsNy43IDEuOCAxLjgtNy44LTcuNy0xLjh6Ii8+Cjwvc3ZnPg==") !important;
}

.dark-theme .rbx-header .navbar-search .input-field, .light-theme .rbx-header .navbar-search .input-field {
    padding-left: 33px;
    background-color: transparent;
}

.dark-theme .rbx-header .navbar-search, .light-theme .rbx-header .navbar-search {
    background-color: rgba(0,0,0,0.2);
}

.dark-theme .rbx-header .navbar-search .new-dropdown-menu, .light-theme .rbx-header .navbar-search .new-dropdown-menu {
    margin-top: 6px;
    left: -6px;
    width: calc(100% + 12px);
    background-color: transparent;
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 40%);
    transition-property: background-color;
    transition-duration: 0.4s;
}

.dark-theme .rbx-header .navbar-search .navbar-search-option.new-selected, .light-theme .rbx-header .navbar-search .navbar-search-option.new-selected  {
    background-color: rgba(0,0,0,0.4);
    box-shadow: none;
    color: #fff;
}

.dark-theme .rbx-header .navbar-search-option .new-selected:hover, .light-theme .rbx-header .navbar-search-option .new-selected:hover {
    background-color: rgba(0,0,0,0.4);
    box-shadow: none;
    color: #fff;
}

.dark-theme .navbar-search .navbar-search-option:hover, .light-theme .navbar-search .navbar-search-option:hover {
    background-color: rgba(0,0,0,0.3);
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.scroller.prev {
    border-radius: 0;
    left: -40px;
    border: none;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.scroller.prev:hover {
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.scroller.next {
    border-radius: 0;
    right: -40px;
    border: none;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.dark-theme .scroller, .light-theme .scroller {
    background-color: rgba(0,0,0,0.35);
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.dark-theme .rbx-header .rbx-navbar li .nav-menu-title:focus, .dark-theme .rbx-header .rbx-navbar li .nav-menu-title:hover, .light-theme .rbx-header .rbx-navbar li .nav-menu-title:focus, .light-theme .rbx-header .rbx-navbar li .nav-menu-title:hover {
    background-color: transparent;
}

.dark-theme .rbx-header .rbx-navbar li, .light-theme .rbx-header .rbx-navbar li {
    border: 0 #fff;
    border-bottom: 2px solid #fff;
    background-color: rgba(0,0,0,0);
    border-radius: 6px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.dark-theme .rbx-header .rbx-navbar li:hover, .light-theme .rbx-header .rbx-navbar li:hover {
    border: 0 #fff;
    border-bottom: 2px solid #fff;
    background-color: rgba(0,0,0,0.3);
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.dark-theme .dropdown-menu li.active, .dark-theme .dropdown-menu li:active, .light-theme .dropdown-menu li.active, .light-theme .dropdown-menu li:active {
    box-shadow: none;
    background-color: transparent;
    backdrop-filter: blur(1px);
}

dark-theme .dropdown-menu li.active, .dark-theme .dropdown-menu li, .light-theme .dropdown-menu li.active, .light-theme .dropdown-menu li {
    box-shadow: none;
    background-color: transparent;
    backdrop-filter: blur(1px);
    transition-timing-function: ease;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.dark-theme .dropdown-menu li:focus, .dark-theme .dropdown-menu li:hover, .light-theme .dropdown-menu li:focus, .light-theme .dropdown-menu li:hover {
    background-color: rgba(0,0,0,0.4);
    box-shadow: none;
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.modal-backdrop.in {
    opacity: .35;
}

.dark-theme .interaction-item:focus, .dark-theme .interaction-item, .light-theme .interaction-item:focus, .light-theme .interaction-item {
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.dark-theme .interaction-item:focus, .dark-theme .interaction-item:hover, .light-theme .interaction-item:focus, .light-theme .interaction-item:hover {
    background-color: rgba(0,0,0,0.3);
    box-shadow: none;
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.45s;
    transition-property: background-color;
}

.game-carousel {
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.dark-theme .game-card-container, .light-theme .game-card-container {
    background-color: transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: background-color, transform;
    transform: scale(1)
}

.dark-theme .game-card-container:hover, .light-theme .game-card-container:hover {
    background-color: rgba(0,0,0,0.25);
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: background-color, transform;
    transform: scale(1.15) rotateZ(7deg);
    z-index: 100;
}

.dark-theme .modal-dialog .modal-content, .light-theme .modal-dialog .modal-content {
    background-color: transparent;
    color: #fff;
}

.dark-theme .alert-warning, .light-theme .alert-warning {
    display: none;
}

.dark-theme .alert-success, .light-theme .alert-success {
    display: none;
}

.dark-theme .stack .stack-list .stack-row, .light-theme .stack .stack-list .stack-row {
    background-color: transparent;
    color: #fff;
}

.dark-theme .rbx-tab, .light.theme .tbx-tab {
    background: none !important;
}

.dark-theme .rbx-tabs-horizontal .nav-tabs, .light-theme .rbx-tabs-horizontal .nav-tabs {
    background-color: transparent;
    color: #fff;
}

.dark-theme .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading, .light-theme .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading {
    color: #bdbebe;
    background-color: transparent;
}

.dark-theme .btn-control-sm:focus, .dark-theme .btn-control-sm, .light-theme .btn-control-sm:focus, .light-theme .btn-control-sm {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    transition-timing-function: ease;
    transition-property: all;
    transition-duration: 0.35s;
}

.dark-theme .btn-control-sm:focus, .dark-theme .btn-control-sm:hover, .light-theme .btn-control-sm:focus, .light-theme .btn-control-sm:hover {
    background-color: rgba(0,0,0,0.2);
    border-color: #fff;
    color: #fff;
    transition-timing-function: ease;
    transition-property: all;
    transition-duration: 0.35s;
    
}

.dark-theme .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading, .light-theme .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading {
    color: #fff;
    background-color: transparent;
    box-shadow: inset 0 -4px 0 0 #656668;
    transition-timing-function: ease;
    transition-property: all;
    transition-duration: 0.35s;
}

.dark-theme .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading:hover, .light-theme .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    box-shadow: inset 0 -4px 0 0 #656668;
    transition-timing-function: ease;
    transition-property: all;
    transition-duration: 0.35s;
}

.dark-theme .input-field, .light-theme .input-field {
    background-color: rgb(42 38 38 / 70%);
    border-color: hsl(0deg 100% 50% / 20%);
    color: #bdbebe;
    border-radius: 8px;
}

.dark-theme .avatar-card-container, .light-theme .avatar-card-container {
    background-color: transparent;
    color: #fff;
}

.dark-theme .roblox-popover-container, .light-theme .roblox-popover-container {
    box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
    background: transparent !important;
    backdrop-filter: blur(1px);
}

.dark-theme .btn-navigation-nav-notification-stream-md:focus, .dark-theme .btn-navigation-nav-notification-stream-md, .light-theme .btn-navigation-nav-notification-stream-md:focus, .light-theme .btn-navigation-nav-notification-stream-md {
    background-color: transparent;
    border-color: hsla(0,0%,100%,.7);
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.4s
}

.dark-theme .btn-navigation-nav-notification-stream-md:focus, .dark-theme .btn-navigation-nav-notification-stream-md:hover, .light-theme .btn-navigation-nav-notification-stream-md:focus, .light-theme .btn-navigation-nav-notification-stream-md:hover {
    background-color: rgba(0,0,0,0.34);
    border-color: hsla(0,0%,100%,.7);
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.4s
}

.dark-theme .btn-navigation-nav-robux-md:focus, .dark-theme .btn-navigation-nav-robux-md, .light-theme .btn-navigation-nav-robux-md:focus, .light-theme .btn-navigation-nav-robux-md {
    background-color: transparent;
    border-color: hsla(0,0%,100%,.7);
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.4s
}

.dark-theme .btn-navigation-nav-robux-md:focus, .dark-theme .btn-navigation-nav-robux-md:hover, .light-theme .btn-navigation-nav-robux-md:focus, .light-theme .btn-navigation-nav-robux-md:hover {
    background-color: rgba(0,0,0,0.34);
    border-color: hsla(0,0%,100%,.7);
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.4s
}

.dark-theme .icon-default-logo-r, .dark-theme .icon-logo-r, .dark-theme .icon-logo-r-95 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiPgoJPHRpdGxlPklNR18yOTg1PC90aXRsZT4KCTxzdHlsZT4KCQkuczAgeyBmaWxsOiAjZmZmZmZmIH0gCgk8L3N0eWxlPgoJPHBhdGggaWQ9IlNoYXBlIDEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xhc3M9InMwIiBkPSJtOS44IDEuMmwzNyA4LjYtOC42IDM3LTM3LTguNnptOS41IDI1LjhsNy43IDEuOCAxLjgtNy44LTcuNy0xLjh6Ii8+Cjwvc3ZnPg==") !important;
}

.light-theme .icon-default-logo-r, .light-theme .icon-logo-r, .light-theme .icon-logo-r-95 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiPgoJPHRpdGxlPklNR18yOTg1PC90aXRsZT4KCTxzdHlsZT4KCQkuczAgeyBmaWxsOiAjZmZmZmZmIH0gCgk8L3N0eWxlPgoJPHBhdGggaWQ9IlNoYXBlIDEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xhc3M9InMwIiBkPSJtOS44IDEuMmwzNyA4LjYtOC42IDM3LTM3LTguNnptOS41IDI1LjhsNy43IDEuOCAxLjgtNy44LTcuNy0xLjh6Ii8+Cjwvc3ZnPg==");
}

.icon-logo-r {
    transition: transform .7s ease 0.1s;
    animation-name: RGBFilter;
    animation-duration: 15s; 
    animation-iteration-count: infinite;
    
}

.icon-logo-r:hover {
    background-position: 0 0;
    transform: rotate(270deg);
}

#nav-robux-icon .icon-robux-28x28 {
    background-position: 0 0;
    filter: contrast(0) sepia(1) hue-rotate(185deg) saturate(3.5);
}

.dark-theme .btn-navigation-nav-menu-md:focus, .dark-theme .btn-navigation-nav-menu-md, .light-theme .btn-navigation-nav-menu-md:focus, .light-theme .btn-navigation-nav-menu-md {
    background-color: transparent;
    border-color: hsla(0,0%,100%,.7);
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.4s
}

.dark-theme .btn-navigation-nav-menu-md:focus, .dark-theme .btn-navigation-nav-menu-md:hover, .light-theme .btn-navigation-nav-menu-md:focus, .light-theme .btn-navigation-nav-menu-md:hover {
    background-color: rgba(0,0,0,0.34);
    border-color: hsla(0,0%,100%,.7);
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.4s
}

.dark-theme .btn-navigation-nav-settings-md:focus, .dark-theme .btn-navigation-nav-settings-md, .light-theme  .btn-navigation-nav-settings-md:focus, .light-theme .btn-navigation-nav-settings-md {
    background-color: transparent;
    border-color: hsla(0,0%,100%,.7);
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.4s
}

.dark-theme .btn-navigation-nav-settings-md:focus, .dark-theme .btn-navigation-nav-settings-md:hover, .light-theme .btn-navigation-nav-settings-md:focus, .light-theme .btn-navigation-nav-settings-md:hover {
    background-color: rgba(0,0,0,0.3);
    border-color: hsla(0,0%,100%,.7);
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 0.4s
}

#Body {
    background-color: transparent;
}

#simplemodal-overlay {
    background-color: rgba(0,0,0,0.5) !important;
    opacity: 0.8;
    height: 3328px;
    width: 1189px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1041;
}

.modal-dialog .modal-content {
    background-color: rgba(0,0,0,0.23);
    border-radius: 15px;
}

button.close {
    filter: sepia(1) saturate(5) brightness(11.5) hue-rotate(120deg);
    background: transparent;
}

.btn-control.btn-control-large {
    background: black;
    color: black;
    padding: 3px 13px;
    background-image: none;
    border: none;
    border-radius: 3px;
}

#build-page .gear-button, #build-page .gear-button-hover, #build-page .gear-button-open, #build-page .gear-hover {
    width: 45px;
    background-size: cover;
    top: -9px;
    filter: invert(1);
    box-shadow: inset 0px 0px 4px 3px white;
    height: 30px;
    border: none;
}

#build-page .gear-hover, #build-page .gear-open {
    background-position: 0 0 !important;
}

#build-page .gear-button-wrapper {
    width: 42px;
    background-color: #FFF;
    height: 21px;
    position: relative;
    margin-right: 5px;
}

.btn-control.btn-control-large:hover {
    background-color: rgb(36, 36, 36);
    transition: background-color 0.3s;
}

#header {
    background-color: transparent;
    
}

#avatar-container > div > div > div.left-wrapper-placeholder > div > div.section-content.remove-panel > div:nth-child(1) > div {
    height: initial;
    z-index: 2;
    background-image: url("https://i.postimg.cc/J4CZMH5h/Loading-BKG.png") !important;
    background-size: inherit !important;
}

#container-main {
    background-attachment: fixed;
    background-position: left center, right center !important;
	backdrop-filter: blur(bgblur);
}

#container-main > div.content {
    align-items: flex-start;
    margin-top: 20px;
    padding: 0;
}
	
#container-main > .content::before, #MasterContainer #BodyWrapper::before {
	display: none !important;
}


.dark-theme .menu-vertical, .light-theme .menu-vertical {
    background-color: transparent;
    color: #fff;
}

.dark-theme .menu-vertical .menu-option, .light-theme .menu-vertical .menu-option {
    background-color: rgba(0,0,0,0);
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    transition-property: background-color
}

.dark-theme .menu-vertical .menu-option:hover, .light-theme .menu-vertical .menu-option:hover {
    background-color: rgba(0,0,0,0.2);
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    transition-property: background-color;
}

.dark-theme .content, .light-theme .content {
    background-color: rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 0px 40px !important;
}

.dark-theme .notification, .dark-theme .notification-blue, .dark-theme .notification-red, .light-theme .notification, .light-theme .notification-blue, .light-theme .notification-red {
    background-color: #4183c5;
    color: #f2f4f5;
}

.dark-theme .rbx-tabs-horizontal #horizontal-tabs .rbx-tab:not(.active) a:not(:hover), .light-theme .rbx-tabs-horizontal #horizontal-tabs .rbx-tab:not(.active) a:not(:hover) {
    background-color: transparent;
}

.content.six-column {
    width: 93%;
    max-width: 250%;
    padding: 0px 10px !important;
}

.dark-theme #wrap.pinned .right-wrapper:before, .light-theme #wrap.pinned .right-wrapper:before {
    background-color: transparent;
}

/* game page */
div#rbx-private-running-games {
	z-index: 100;
	overflow: visible;
}

.dark-theme .stack .card-list .card-item, .light-theme .stack .card-list .card-item {
    background-color: rgba(0,0,0,0.1);
    border-radius: 12px;
    transition-duration: 0.2s;
    transition-property: background-color, transform;
    transition-timing-function: ease-in;
    transition-delay: 0.15s;
    transform: scale(1)
}

.dark-theme .stack .card-list .card-item:hover, .light-theme .stack .card-list .card-item:hover {
    background-color: rgba(0,0,0,0.25);
    transition-duration: 0.2s;
    transition-property: background-color, transform;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transform: scale(1.1);
}

.dark-theme .btn-control-xs, .light-theme .btn-control-xs {
    background-color: transparent;
    border-color: #a59898;
    color: #000;
    transform: scale(1);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

.dark-theme .btn-control-xs:focus, .dark-theme .btn-control-xs:hover, .light-theme .btn-control-xs:focus, .light-theme .btn-control-xs:hover {
    background-color: transparent;
    border-color: #2306ff;
    color: #8dc5ff;
    transform: scale(0.9);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.dark-theme .btn-secondary-md, .light-theme .btn-secondary-md {
    background-color: transparent;
    border-color: #a59898;
    color: #000;
    transform: scale(1);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
}

.dark-theme .btn-secondary-md:focus, .dark-theme .btn-secondary-md:hover, .light-theme .btn-secondary-md:focus, .light-theme .btn-secondary-md:hover {
    background-color: transparent;
    border-color: #2306ff;
    color: #8dc5ff;
    transform: scale(1.1);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.social-links .medallion {
    background-color: transparent;
    border-color: #a59898;
    color: #000;
    transform: scale(1);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.social-links .medallion:hover {
    background-color: transparent;
    border-color: #2306ff;
    color: #8dc5ff;
    transform: scale(1.1);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.dark-theme .btn-common-play-game-lg, .light-theme .btn-common-play-game-lg {
    background-color: #00b06f;
    border-color: #00b06f;
    color: #fff;
    border-radius: 8px;
    transform: scale(1);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.dark-theme .btn-common-play-game-lg:hover, .light-theme .btn-common-play-game-lg:hover {
/*     animation-name: RGBBackground; */
/*     animation-duration: 5s; */
/*     animation-iteration-count: infinite; */
    background-color: rgb(17, 239, 171);
    border-color: #00fffb;
    color: #fff;
    border-radius: 8px;
    transform: scale(1.25);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    z-index: 100;
}

/* ropro server filter */
#serverFiltersDropdownBox, #serverFiltersDropdownBoxMini {
    width: 200px;
    height: 295px;
    right: 0px;
    top: 30px;
    z-index: 1000;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5) !important;
    display: block;
    backdrop-filter: blur(1px);
}

div[class="server-filter-option"] {
    background: rgba(0,0,0,0.1) !important;
}

.dark-theme .btn-control-md, .light-theme .btn-control-md {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    transform: scale(1);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.dark-theme .btn-control-md:focus, .dark-theme .btn-control-md:hover, .light-theme .btn-control-md:focus, .light-theme .btn-control-md:hover {
    background-color: transparent;
    border-color: #2306ff;
    color: #fff;
    transform: scale(1.07);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.dark-theme .container-empty, .dark-theme .section-content-off {
    background: none !important;
    color: #bdbebe;
}

.dark-theme .btn-growth-sm, .light-theme .btn-growth-sm {
    background-color: #00b06f;
    border-color: #00b06f;
    transform: scale(1);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.dark-theme .btn-growth-sm:hover, .light-theme .btn-growth-sm:hover {
    background-color: #11efab;
    border-color: #11efab;
    transform: scale(1.07);
    transition-property: background-color, border-color, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

/* homepage friends */
.popover.bottom.people-info-card-container {
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
}

.people-info-card-container.card-with-game {
    width: 31%;
    max-width: 170%;
    backdrop-filter: blur(1px);
    background: rgba(0,0,0,0.1)
}

.people-info-card-container {
    max-width: 30%;
    min-width: auto;
}

.friend-list .friend .friend-name-container, .people-list .friend .friend-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people-info-card-container .place-container .place-info-container {
    margin-left: 5%;
    padding-left: 5%;
    width: 69%;
}

@media only screen and (max-width:1220px) {
    .people-info-card-container .place-container .place-info-container .place-title {
    font-size: large !important;
    margin-left: 5%;
    font-weight: 500 !important;
}
    .people-info-card-container .place-container .place-info-container {
    padding-left: 10% !important;
    margin-left: 0% !important;
    width: 69% !important;
}
}

.people-info-card-container .place-container {
    height: 114px;
    padding: 12px 10px;
}

.people-info-card-container .place-container .place-info-container .place-title {
    font-size: large;
    margin-left: 5%;
    font-weight: 600;
    max-width: 100%;
}

.people-info-card-container .place-container .place-info-container .place-info {
    text-align: center;
}

.dark-theme .stack .server-player-count-gauge, .light-theme .stack .server-player-count-gauge {
	text-align: -webkit-center;
}

.stack .card-list .card-item .player-thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 192px;
    align-self: center;
    column-gap: 6px;
    row-gap: 6px;
}

/* friends */
.dark-theme .open .dropdown-menu, .light-theme .open .dropdown-menu {
    background-color: rgba(0,0,0,0.2);
}

.dark-theme .avatar-card-btns, light-theme .avatar-card-btns {
    background-color: transparent;
    color: #fff;
}

.dark-theme .avatar-card-btns .accept-friend, .light-theme .avatar-card-btns .accept-friend {
    background-color: #2cb378;
    border-color: #fff;
    border-radius: 8px;
	transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color, transform;
	transform: scale(1);
}

.dark-theme .avatar-card-btns .accept-friend:hover, .light-theme .avatar-card-btns .accept-friend:hover {
    background-color: #00b1a530;
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color, transform;
	transform: scale(1.1);
    border-color: #00a2ff;
}

/* favorites page */
	/* category list */
.light-theme .rbx-tabs-vertical .category-tabs .menu-vertical, .dark-theme .rbx-tabs-vertical .category-tabs .menu-vertical {
    background-color: rgba(0,0,0,0.2);
    color: #393b3d;
    border-radius: 8px;
}

	/* items */
.item-card-container {
	transform: scale(1);
	z-index: 100;
	border-radius: 4px;
	transition: sT;
	
	&:hover {
    transform: scale(1.2);
    background: rgba(0,0,0,0.2);
	transition: sT;
	}
}
/* tooltips */
.dark-theme .tooltip .tooltip-inner, .light-theme .tooltip .tooltip-inner {
    background-color: rgba(0,0,0,0.4);
    color: #bdbebe;
    border-radius: 10px;
    backdrop-filter: blur(1px);
}


/* side menu */
/* remove "Get Premium" button */
.dark-theme .rbx-upgrade-now .btn-secondary-md:link, .light-theme .rbx-upgrade-now .btn-secondary-md:link {
	display: none;
}

/* hide desktop app banner */
#desktop-app-banner .banner-container, #desktop-app-banner .banner-container:after, #desktop-app-banner .banner-container:before {
    display: none;
}

/* ------------------------ */
}
@-moz-document url("https://www.roblox.com/home") {
.btr-hide-ads .content {
	max-width: 90%;
}
}

@-moz-document domain("roblox.com") {
html {
    --btr-header-text-color: #fff;
    --btr-theme-color: #212121;
    --btr-header-color: rgba(155,155,155,0.12);
    --btr-nav-color: #121212;
    --btr-body-padding: 0px !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    min-height: 100%;
    background-position: right, bottom !important;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
	background-image: bg-image !important;

}
}