@-moz-document domain("youtube.com") {
.ytp-play-progress {
    z-index: 34;
}

.ytp-progress-linear-live-buffer, .ytp-ad-progress, .ytp-load-progress, .ytp-play-progress, .ytp-hover-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.ytp-swatch-background-color {
    background-color: #CF5FB5;
}

.ytp-chrome-top, .ytp-chrome-bottom {
    position: absolute;
    text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

.yt-spec-button-shape-next--size-m {
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 4px;
}

ytd-app {
    --app-drawer-width: 240px;
    --app-drawer-content-container-background-color: var(--yt-spec-general-background-a);
    background: var(--yt-spec-general-background-a);
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

html:not(.style-scope)[system-icons] {
    --ytd-searchbox-legacy-button-icon-color: #030303;
}
html:not(.style-scope)[typography] {
    --yt-channel-line-height: 3.2rem;
    --yt-navbar-title-line-height: 2.6rem;
    --yt-subheadline-line-height: 2.2rem;
    --yt-link-line-height: 2rem;
    --yt-thumbnail-attribution-font-size: 1.2rem;
    --yt-thumbnail-attribution-line-height: 1.8rem;
    --yt-user-comment-line-height: 2rem;
    --yt-guide-highlight-line-height: 2rem;
    --yt-caption-font-size: 1.2rem;
    --yt-caption-line-height: 1.8rem;
}
html:not(.style-scope)[typography-spacing] {
    --yt-subheadline-letter-spacing: .1px;
    --yt-subheadline-link-letter-spacing: .15px;
    --yt-link-letter-spacing: .25px;
    --yt-thumbnail-attribution-letter-spacing: .3px;
    --yt-user-comment-letter-spacing: .2px;
    --yt-guide-highlight-letter-spacing: .25px;
    --yt-caption-letter-spacing: .35px;
    --yt-badge-letter-spacing: .35px;
    --yt-tab-system-letter-spacing: .5px;
}
html:not(.style-scope)[system-icons] {
    --yt-spec-icon-active-other: #030303;
    --yt-spec-icon-inactive: #030303;
    --yt-spec-icon-disabled: #909090;
    --yt-spec-brand-icon-active: #030303;
    --yt-spec-brand-icon-inactive: #030303;
    --yt-button-icon-button-text-color: var(--yt-spec-text-primary);
}
html:not(.style-scope) {
    --yt-swatch-icon-color: var(--yt-deprecated-luna-black-opacity-lighten-3);
    --yt-swatch-primary: var(--yt-spec-static-brand-white);
    --yt-swatch-primary-darker: rgb(230, 230, 230);
    --yt-swatch-text: var(--yt-deprecated-luna-black-opacity-lighten-3);
    --yt-swatch-input-text: var(--yt-deprecated-luna-black);
    --yt-swatch-tab-selected-text: rgb(15, 15, 15);
    --yt-swatch-textbox-bg: rgb(255, 255, 255);
    --yt-subscription-product-grid-margin: 24px;
    --yt-subscription-product-grid-margin-two-thirds: 16px;
    --yt-subscription-product-grid-margin-half: 12px;
    --yt-subscription-product-grid-margin-one-third: 8px;
    --paper-tooltip_-_margin: 8px;
    --paper-tooltip_-_font-size: var(--ytd-thumbnail-attribution_-_font-size);
    --paper-tooltip_-_font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
    --paper-tooltip_-_line-height: var(--ytd-thumbnail-attribution_-_line-height);
    --paper-tooltip_-_letter-spacing: var(--ytd-thumbnail-attribution_-_letter-spacing);
    --paper-tooltip_-_text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
    --paper-tooltip-delay-in: 1ms;
    --paper-tooltip-delay-out: 0;
    --paper-tooltip-duration-in: 150ms;
    --paper-tooltip-duration-out: 75ms;
    --yt-button-tooltip-z-index: 2300;
    --iron-overlay-backdrop-opacity: 0.8;
    --paper-tab-content-focused-font-weight: 500;
    --ytd-z-index-report-form-overlay: 100;
    --ytd-z-index-engagement-panel-scrim: 600;
    --ytd-z-index-engagement-panel-scrimmed: 601;
    --ytd-z-index-toggle-button-tooltip: 2300;
    --ytd-z-index-miniplayer-bar: 2008;
    --ytd-z-index-masthead: 2020;
    --ytd-z-index-user-mention-suggestions-container: 2022;
    --ytd-z-index-notification: 2024;
    --ytd-z-index-miniplayer: 2018;
    --ytd-z-index-channel-name: 300;
    --ytd-thumbnail-height: 118px;
    --ytd-grid-1-columns-width: 214px;
    --ytd-grid-2-columns-width: 428px;
    --ytd-grid-3-columns-width: 642px;
    --ytd-grid-4-columns-width: 856px;
    --ytd-grid-5-columns-width: 1070px;
    --ytd-grid-6-columns-width: 1284px;
    --ytd-grid-max-width: 1284px;
    --ytd-scrollbar-width: 8px;
    --ytd-default-promo-panel-renderer-height: 600px;
    --ytd-searchbox-border-color: hsla(0, 0%, 53.3%, 0.2);
    --ytd-searchbox-legacy-border-color: #ccc;
    --ytd-searchbox-legacy-border-shadow-color: #eee;
    --ytd-searchbox-legacy-button-color: #f8f8f8;
    --ytd-searchbox-legacy-button-border-color: #d3d3d3;
    --ytd-searchbox-legacy-button-focus-color: #e9e9e9;
    --ytd-searchbox-legacy-button-hover-color: #f0f0f0;
    --ytd-searchbox-legacy-button-hover-border-color: #c6c6c6;
    --ytd-searchbox-legacy-button-icon-color: #333;
    --ytd-searchbox-background: hsl(0, 0%, 100%);
    --ytd-searchbox-text-color: hsl(0, 0%, 6.7%);
    --paper-dialog-background-color: var(--yt-spec-brand-background-solid);
    --paper-listbox-background-color: var(--yt-spec-brand-background-solid);
    --paper-listbox-color: var(--yt-spec-text-primary);
    --paper-spinner-layer-1-color: var(--yt-spec-text-secondary);
    --paper-spinner-layer-2-color: var(--yt-spec-text-secondary);
    --paper-spinner-layer-3-color: var(--yt-spec-text-secondary);
    --paper-spinner-layer-4-color: var(--yt-spec-text-secondary);
    --paper-spinner-color: var(--yt-spec-text-secondary);
    --paper-input-container-focus-color: var(--yt-spec-themed-blue);
    --paper-input-container-input-color: var(--yt-spec-text-primary);
    --paper-input-container-label-floating_-_font-size: var(--ytd-floating-input-thumbnail-attribution_-_font-size);
    --paper-input-container-label-floating_-_font-weight: var(--ytd-floating-input-thumbnail-attribution_-_font-weight);
    --paper-input-container-label-floating_-_line-height: var(--ytd-floating-input-thumbnail-attribution_-_line-height);
    --paper-input-container-invalid-color: var(--yt-spec-brand-link-text);
    --paper-checkbox-unchecked-color: var(--yt-spec-icon-inactive);
    --paper-checkbox-unchecked-ink-color: var(--yt-spec-icon-inactive);
    --paper-checkbox-checked-color: var(--yt-spec-call-to-action);
    --paper-checkbox-checked-ink-color: var(--yt-spec-call-to-action);
    --paper-checkbox-label-color: var(--yt-spec-text-primary);
    --paper-checkbox-label-spacing: 16px;
    --paper-checkbox-size: 20px;
    --paper-checkbox-checkmark-color: var(--yt-spec-text-primary-inverse);
    --paper-radio-button-unchecked-color: var(--yt-spec-icon-inactive);
    --paper-radio-button-unchecked-ink-color: var(--yt-spec-icon-inactive);
    --paper-radio-button-checked-color: var(--yt-spec-call-to-action);
    --paper-radio-button-checked-ink-color: var(--yt-spec-call-to-action);
    --paper-radio-button-label-spacing: 16px;
    --paper-radio-button-label-color: var(--yt-spec-text-primary);
    --paper-radio-button-size: 20px;
    --paper-item_-_white-space: nowrap;
    --paper-item_-_font-size: initial;
    --paper-item_-_font-weight: initial;
    --paper-item_-_line-height: initial;
    --paper-item_-_letter-spacing: initial;
    --paper-item_-_font-family: initial;
    --paper-item_-_color: initial;
    --paper-input-error_-_overflow: hidden;
    --paper-toggle-button-unchecked-bar-color: var(--yt-spec-icon-disabled);
    --paper-toggle-button-unchecked-button-color: var(--yt-spec-icon-inactive);
    --paper-toggle-button-checked-bar-color: var(--yt-spec-icon-disabled);
    --paper-toggle-button-checked-button-color: var(--yt-spec-call-to-action);
    --paper-toggle-button-checked-ink-color: var(--yt-spec-call-to-action);
    --paper-toggle-button-unchecked-ink-color: var(--yt-spec-touch-response);
    --paper-tab-content-unselected_-_opacity: 1;
    --paper-menu-disabled-color: var(--yt-spec-text-primary);
    --paper-menu-background-color: var(--yt-spec-brand-background-solid);
    --paper-menu-color: var(--yt-spec-text-primary);
    --yt-icon-width: 40px;
    --yt-icon-height: 40px;
    --ytd-rich-grid-items-per-row: 4;
    --ytd-rich-grid-posts-per-row: 3;
    --ytd-rich-grid-slim-items-per-row: 6;
    --ytd-rich-grid-item-margin: 16px;
    --ytd-rich-grid-item-min-width: 320px;
    --ytd-rich-grid-item-max-width: 360px;
    --ytd-rich-grid-mini-item-min-width: 240px;
    --ytd-rich-grid-mini-item-max-width: 320px;
    --ytd-rich-grid-slim-item-max-width: 220px;
    --ytd-channel-title_-_font-size: var(--yt-channel-title-font-size, 2.4rem);
    --ytd-channel-title_-_font-weight: 400;
    --ytd-channel-title_-_line-height: var(--yt-channel-title-line-height, 3rem);
    --yt-navbar-title-font-size: 1.8rem;
    --ytd-navbar-title-font-size: var(--yt-navbar-title-font-size);
    --ytd-navbar-title-font-weight: 400;
    --ytd-navbar-title-line-height: var(--yt-navbar-title-line-height, 2.4rem);
    --ytd-subheadline_-_font-size: var(--yt-subheadline-font-size, 1.6rem);
    --ytd-subheadline_-_font-weight: 400;
    --ytd-subheadline_-_line-height: var(--yt-subheadline-line-height, 2rem);
    --ytd-subheadline_-_letter-spacing: var(--yt-subheadline-letter-spacing, normal);
    --ytd-subheadline-link_-_font-size: var(--yt-subheadline-font-size, 1.6rem);
    --ytd-subheadline-link_-_font-weight: 500;
    --ytd-subheadline-link_-_line-height: var(--yt-subheadline-line-height, 2rem);
    --ytd-subheadline-link_-_letter-spacing: var(--yt-subheadline-link-letter-spacing, normal);
    --ytd-link_-_font-size: var(--yt-link-font-size, 1.4rem);
    --ytd-link_-_font-weight: 500;
    --ytd-link_-_line-height: var(--yt-link-line-height, 1.6rem);
    --ytd-link_-_letter-spacing: var(--yt-link-letter-spacing, normal);
    --ytd-thumbnail-attribution_-_font-size: var(--yt-thumbnail-attribution-font-size, 1.3rem);
    --ytd-thumbnail-attribution_-_font-weight: 400;
    --ytd-thumbnail-attribution_-_line-height: var(--yt-thumbnail-attribution-line-height, 1.8rem);
    --ytd-thumbnail-attribution_-_letter-spacing: var(--yt-thumbnail-attribution-letter-spacing, inherit);
    --ytd-thumbnail-attribution_-_text-transform: none;
    --ytd-user-comment_-_font-size: var(--yt-user-comment-font-size, 1.4rem);
    --ytd-user-comment_-_font-weight: 400;
    --ytd-user-comment_-_line-height: var(--yt-user-comment-line-height, 2.1rem);
    --ytd-user-comment_-_letter-spacing: var(--yt-user-comment-letter-spacing, normal);
    --ytd-tab-system_-_font-size: var(--yt-tab-system-font-size, 1.4rem);
    --ytd-tab-system_-_font-weight: 500;
    --ytd-tab-system_-_letter-spacing: var(--yt-tab-system-letter-spacing, .007px);
    --ytd-tab-system_-_text-transform: uppercase;
    --ytd-caption_-_font-size: var(--yt-caption-font-size, 1.3rem);
    --ytd-caption_-_line-height: var(--yt-caption-line-height, normal);
    --ytd-caption_-_font-weight: 500;
    --ytd-caption_-_letter-spacing: var(--yt-caption-letter-spacing, .007px);
    --ytd-caption_-_text-transform: uppercase;
    --ytd-floating-input-thumbnail-attribution_-_font-size: 1.7rem;
    --ytd-floating-input-thumbnail-attribution_-_font-weight: 400;
    --ytd-floating-input-thumbnail-attribution_-_line-height: 2.4rem;
    --ytd-mini-attribution-font-size: 1.2rem;
    --ytd-mini-attribution-font-weight: 400;
    --ytd-mini-attribution-line-height: 1.5rem;
    --ytd-code-snippet-font-size: 1.4rem;
    --ytd-code-snippet-line-height: 2.4rem;
    --ytd-guide-highlight_-_font-size: 1.4rem;
    --ytd-guide-highlight_-_font-weight: 500;
    --ytd-guide-highlight_-_line-height: var(--yt-guide-highlight-line-height, 1.8rem);
    --ytd-guide-highlight_-_letter-spacing: var(--yt-guide-highlight-letter-spacing, normal);
    --ytd-grid-base: 103px;
    --ytd-margin-base: 4px;
    --ytd-avatar-size: 32px;
    --ytd-toolbar-height: 56px;
    --ytd-margin-2x: 8px;
    --ytd-margin-3x: 12px;
    --ytd-margin-4x: 16px;
    --ytd-margin-5x: 20px;
    --ytd-margin-6x: 24px;
    --ytd-margin-7x: 28px;
    --ytd-margin-8x: 32px;
    --ytd-margin-9x: 36px;
    --ytd-margin-10x: 40px;
    --ytd-margin-11x: 44px;
    --ytd-margin-12x: 48px;
    --ytd-margin-14x: 56px;
    --ytd-margin-16x: 64px;
    --ytd-margin-17x: 68px;
    --ytd-margin-24x: 96px;
    --ytd-margin-25x: 100px;
    --ytd-margin-35x: 140px;
    --ytd-neg-margin-base: -4px;
    --ytd-neg-margin-2x: -8px;
    --ytd-neg-margin-3x: -12px;
    --ytd-neg-margin-4x: -16px;
    --ytd-neg-margin-5x: -20px;
    --ytd-neg-margin-6x: -24px;
    --ytd-neg-margin-7x: -28px;
    --ytd-neg-margin-8x: -32px;
    --ytd-neg-margin-10x: -40px;
    --ytd-neg-margin-11x: -44px;
    --ytd-neg-margin-12x: -48px;
    --ytd-neg-margin-14x: -56px;
    --ytd-neg-margin-16x: -64px;
    --ytd-neg-margin-24x: -96px;
    --ytd-neg-margin-25x: -100px;
    --yt-report-form-modal-renderer-min-width: 250px;
    --yt-legal-report-details-form-renderer-min-width: 250px;
    --yt-circular_-_border-radius: 50%;
    --yt-circular_-_background-color: transparent;
    --yt-circular_-_overflow: hidden;
    --yt-multi-line-ellipsis_-_-webkit-box-orient: vertical;
    --yt-multi-line-ellipsis_-_text-overflow: ellipsis;
    --yt-multi-line-ellipsis_-_white-space: normal;
    --yt-multi-line-ellipsis_-_display: -webkit-box;
    --yt-upsell-dialog-layout-vertical-width: 400px;
    --yt-upsell-dialog-layout-horizontal-width: 800px;
    --yt-button-margin: 0;
    --yt-button-padding: 10px 16px;
    --yt-button-padding-minus-border: 9px 15px;
    --yt-button-padding-minus-focus-outline: 8px 14px;
    --yt-button-padding-minus-focus-outline-width: 2px;
    --yt-button-with-icon-padding-minus-focus-outline: 4px 14px;
    --yt-button-border-radius: 2px;
    --yt-deprecated-blue-light: hsl(205.9, 80%, 43.1%);
    --yt-deprecated-opalescence-grey-opacity-lighten-3: hsla(0, 0%, 53.3%, 0.4);
    --yt-deprecated-opalescence-soft-grey-opacity-lighten-3: hsla( 0, 0%, 93.3%, 0.4 );
    --yt-deprecated-luna-black-opacity-lighten-2: hsla(0, 0%, 6.7%, 0.6);
    --yt-deprecated-luna-black-opacity-lighten-3: hsla(0, 0%, 6.7%, 0.4);
    --yt-deprecated-luna-black-opacity-lighten-4: hsla(0, 0%, 6.7%, 0.2);
    --yt-deprecated-opalescence-soft-grey: hsl(0, 0%, 93.3%);
    --yt-opalescence-dark-grey: hsl(0, 0%, 20%);
    --yt-deprecated-luna-black: hsl(0, 0%, 6.7%);
    --yt-deprecated-white-opacity-lighten-4: hsla(0, 0%, 100%, 0.2);
    --yt-deprecated-opalescence-soft-grey-opacity-lighten-1: hsla( 0, 0%, 93.3%, 0.8 );
    --yt-live-chat-background-color: var(--yt-spec-static-brand-white);
    --yt-live-chat-secondary-background-color: var( --yt-deprecated-opalescence-soft-grey );
    --yt-live-chat-action-panel-background-color: var( --yt-deprecated-opalescence-soft-grey-opacity-lighten-3 );
    --yt-live-chat-action-panel-background-color-transparent: hsla( 0, 0%, 97%, 0.8 );
    --yt-live-chat-mode-change-background-color: var( --yt-deprecated-opalescence-soft-grey-opacity-lighten-3 );
    --yt-live-chat-primary-text-color: var(--yt-spec-text-primary);
    --yt-live-chat-secondary-text-color: var( --yt-deprecated-luna-black-opacity-lighten-2 );
    --yt-live-chat-tertiary-text-color: var( --yt-deprecated-luna-black-opacity-lighten-3 );
    --yt-live-chat-text-input-field-inactive-underline-color: #b8b8b8;
    --yt-live-chat-text-input-field-placeholder-color: var( --yt-deprecated-luna-black-opacity-lighten-2 );
    --yt-live-chat-text-input-field-underline-transition-duration: 0.25s;
    --yt-live-chat-icon-button-color: var(--yt-live-chat-primary-text-color);
    --yt-live-chat-enabled-send-button-color: #4285f4;
    --yt-live-chat-disabled-icon-button-color: var( --yt-deprecated-luna-black-opacity-lighten-4 );
    --yt-live-chat-picker-button-color: var( --yt-deprecated-luna-black-opacity-lighten-3 );
    --yt-live-chat-picker-button-active-color: var( --yt-deprecated-luna-black-opacity-lighten-1 );
    --yt-live-chat-picker-button-disabled-color: var( --yt-live-chat-disabled-icon-button-color );
    --yt-live-chat-picker-button-hover-color: var( --yt-deprecated-luna-black-opacity-lighten-2 );
    --yt-live-chat-mention-background-color: #ff5722;
    --yt-live-chat-mention-text-color: var(--yt-spec-static-brand-white);
    --yt-live-chat-deleted-message-color: rgba(0, 0, 0, 0.5);
    --yt-live-chat-deleted-message-bar-color: rgba(11, 11, 11, 0.2);
    --yt-live-chat-disabled-button-background-color: var( --yt-deprecated-opalescence-soft-grey );
    --yt-live-chat-disabled-button-text-color: var( --yt-deprecated-luna-black-opacity-lighten-3 );
    --yt-live-chat-sub-panel-background-color: var( --yt-deprecated-opalescence-soft-grey );
    --yt-live-chat-sub-panel-background-color-transparent: hsla(0, 0%, 93%, 0.7);
    --yt-live-chat-header-background-color: var( --yt-deprecated-opalescence-soft-grey-opacity-lighten-3 );
    --yt-live-chat-header-button-color: var(--yt-deprecated-luna-black);
    --yt-live-chat-header-bottom-border: 1px solid var(--yt-spec-10-percent-layer);
    --yt-live-chat-count-color-early-warning: hsl(40, 76%, 55%);
    --yt-live-chat-count-color-error: hsl(10, 51%, 49%);
    --yt-live-chat-error-message-color: hsl(10, 51%, 49%);
    --yt-live-chat-reconnect-message-color: hsla(0, 0%, 7%, 0.2);
    --yt-live-chat-moderator-color: hsl(225, 84%, 66%);
    --yt-live-chat-owner-color: hsl(40, 76%, 55%);
    --yt-live-chat-author-chip-owner-background-color: #ffd600;
    --yt-live-chat-author-chip-owner-text-color: rgba(0, 0, 0, 0.87);
    --yt-live-chat-author-chip-verified-background-color: var(--yt-spec-grey-1);
    --yt-live-chat-author-chip-verified-text-color: var(--yt-spec-grey-5);
    --yt-live-chat-message-highlight-background-color: #f8f8f8;
    --yt-live-chat-sponsor-color: #107516;
    --yt-live-chat-overlay-color: hsla(0, 0%, 0%, 0.6);
    --yt-live-chat-dialog-background-color: var(--yt-spec-static-brand-white);
    --yt-live-chat-dialog-text-color: var( --yt-deprecated-luna-black-opacity-lighten-2 );
    --yt-live-chat-banner-border-color: var(--yt-spec-10-percent-layer);
    --yt-live-chat-banner-animation-duration: 0.35s;
    --yt-live-chat-banner-animation-fast-duration: 0.25s;
    --yt-live-chat-banner-gradient-scrim: linear-gradient( rgba(255, 255, 255, 0.95), transparent );
    --yt-live-chat-banner-indeterminate-bar-background: repeating-linear-gradient( 90deg, #fff, #fff 6px, #aaa 6px, #aaa 9px );
    --yt-live-chat-banner-bar-animation-duration: 1s;
    --yt-live-chat-action-panel-gradient-scrim: linear-gradient( to top, rgba(255, 255, 255, 0.95), transparent );
    --yt-live-chat-call-for-questions-primary-text-color: var( --yt-spec-static-overlay-text-primary );
    --yt-live-chat-call-for-questions-secondary-text-color: var( --yt-spec-static-overlay-text-secondary );
    --yt-live-chat-call-for-questions-ask-question-button-color: var( --yt-spec-static-overlay-text-primary );
    --yt-live-chat-qna-primary-text-color: var( --yt-spec-static-overlay-text-primary );
    --yt-live-chat-qna-start-panel-header-border-color: var( --yt-spec-10-percent-layer );
    --yt-live-chat-qna-panel-start-button-background-color: var( --yt-spec-call-to-action );
    --yt-live-chat-qna-panel-start-button-color: var( --yt-spec-general-background-b );
    --yt-live-chat-qna-start-panel-button-background-color-disabled: var( --yt-spec-badge-chip-background );
    --yt-live-chat-qna-panel-start-button-color-disabled: var( --yt-spec-text-disabled );
    --yt-live-chat-poll-primary-text-color: var( --yt-spec-static-overlay-text-primary );
    --yt-live-chat-poll-secondary-text-color: var( --yt-spec-static-overlay-text-secondary );
    --yt-live-chat-poll-tertiary-text-color: var( --yt-spec-static-overlay-text-disabled );
    --yt-live-chat-poll-choice-text-color: var( --yt-live-chat-poll-primary-text-color );
    --yt-live-chat-poll-choice-background-color: transparent;
    --yt-live-chat-poll-choice-border-radius: 2px;
    --yt-live-chat-poll-choice-border: 1px solid var(--yt-live-chat-poll-tertiary-text-color);
    --yt-live-chat-poll-choice-min-height: 16px;
    --yt-live-chat-poll-choice-vote-bar-background-color: var( --yt-spec-static-overlay-button-secondary );
    --yt-live-chat-poll-choice-hover-color: rgba(17, 17, 16, 0.1);
    --yt-live-chat-poll-choice-animation-duration: 0.5s;
    --yt-live-chat-poll-choice-text-padding: 0 16px;
    --yt-live-chat-poll-editor-panel-header-border-color: var( --yt-spec-10-percent-layer );
    --yt-live-chat-poll-editor-start-button-color: var( --yt-spec-general-background-b );
    --yt-live-chat-poll-editor-start-button-background-color: var( --yt-spec-call-to-action );
    --yt-live-chat-poll-editor-start-button-color-disabled: var( --yt-spec-text-disabled );
    --yt-live-chat-poll-editor-start-button-background-color-disabled: var( --yt-spec-badge-chip-background );
    --yt-live-interactivity-component-background-color: #264c8a;
    --yt-live-chat-panel-animation-duration: 0.5s;
    --yt-live-chat-universal-motion-curve: cubic-bezier(0.05, 0, 0, 1);
    --yt-live-chat-moderation-mode-hover-background-color: var( --yt-deprecated-luna-black-opacity-lighten-4 );
    --yt-live-chat-additional-inline-action-button-color: var( --yt-spec-static-brand-white );
    --yt-live-chat-additional-inline-action-button-background-color: hsla( 0, 0%, 26%, 0.8 );
    --yt-live-chat-additional-inline-action-button-background-color-hover: hsla( 0, 0%, 26%, 1 );
    --yt-formatted-string-emoji-size: 24px;
    --yt-live-chat-emoji-size: 24px;
    --yt-live-chat-text-input-field-suggestion-background-color: var( --yt-spec-static-brand-white );
    --yt-live-chat-text-input-field-suggestion-background-color-hover: #eee;
    --yt-live-chat-text-input-field-suggestion-text-color: #666;
    --yt-live-chat-text-input-field-suggestion-text-color-hover: #333;
    --yt-live-chat-ticker-arrow-background: hsl(0, 0%, 97.3%);
    --yt-emoji-picker-category-background-color: var( --yt-live-chat-action-panel-background-color-transparent );
    --yt-emoji-picker-category-color: var(--yt-live-chat-secondary-text-color);
    --yt-emoji-picker-category-button-color: var( --yt-live-chat-picker-button-color );
    --yt-emoji-picker-search-background-color: var(--yt-spec-white-2);
    --yt-emoji-picker-search-color: var( --yt-deprecated-luna-black-opacity-lighten-1 );
    --yt-emoji-picker-search-placeholder-color: var( --yt-deprecated-luna-black-opacity-lighten-2 );
    --yt-emoji-picker-base-with-variants-border: var( --yt-spec-black-pure-alpha-15);
    --yt-live-chat-slider-active-color: #2196f3;
    --yt-live-chat-slider-container-color: #c8c8c8;
    --yt-live-chat-slider-markers-color: #505050;
    --yt-live-chat-toast-action-color: #2196f3;
    --yt-live-chat-toast-background-color: var(--yt-opalescence-dark-grey);
    --yt-live-chat-toast-text-color: var(--yt-spec-static-brand-white);
    --yt-live-chat-automod-button-background-color: var( --yt-deprecated-opalescence-soft-grey );
    --yt-live-chat-automod-button-background-color-hover: var( --yt-deprecated-luna-black-opacity-lighten-4 );
    --yt-live-chat-creator-support-button-border-radius: 2px;
    --yt-live-chat-creator-support-button-padding: 10px 16px;
    --yt-live-chat-creator-support-button-font-size: inherit;
    --yt-live-chat-countdown-opacity: 0.3;
    --yt-live-chat-shimmer-background-color: rgba(136, 136, 136, 0.2);
    --yt-live-chat-shimmer-linear-gradient: linear-gradient( 0deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 65% );
    --yt-live-chat-vem-background-color: var( --yt-deprecated-opalescence-soft-grey );
    --yt-live-chat-upsell-dialog-renderer-button-padding: 10px 16px;
    --yt-live-chat-product-picker-icon-color: rgba(17, 17, 17, 0.6);
    --yt-live-chat-product-picker-hover-color: rgba(17, 17, 16, 0.1);
    --yt-live-chat-product-picker-disabled-icon-color: rgba(17, 17, 17, 0.4);
    --yt-pdg-paid-stickers-tab-selection-bar-color: var(--yt-spec-dark-blue);
    --yt-pdg-paid-stickers-author-name-font-size: 14px;
    --yt-pdg-paid-stickers-author-subtext-font-size: 13px;
    --yt-pdg-paid-stickers-margin-left: 38px;
    --yt-live-chat-ninja-message-background-color: transparent;
    --yt-deprecated-luna-black: hsl(0, 0%, 6.7%);
    --yt-deprecated-opalescence-grey: hsl(0, 0%, 53.3%);
    --yt-deprecated-opalescence-soft-grey: hsl(0, 0%, 93.3%);
    --yt-deprecated-blue: hsl(206.1, 79.3%, 52.7%);
    --yt-deprecated-luna-black-opacity-lighten-1: hsla(0, 0%, 6.7%, 0.8);
    --yt-deprecated-luna-black-opacity-lighten-2: hsla(0, 0%, 6.7%, 0.6);
    --yt-deprecated-luna-black-opacity-lighten-3: hsla(0, 0%, 6.7%, 0.4);
    --yt-deprecated-opalescence-soft-grey-opacity-lighten-3: hsla(0, 0%, 93.3%, 0.4);
    --yt-deprecated-white-opacity-lighten-1: hsla(0, 0%, 100%, 0.8);
    --yt-deprecated-white-opacity-lighten-2: hsla(0, 0%, 100%, 0.6);
    --yt-deprecated-dark-surface-100: hsl(0, 0%, 7%);
}

html {
    --yt-spec-brand-background-solid: #000;
    --yt-spec-brand-background-primary: rgb(0 0 0 / 100%);
    --yt-spec-brand-background-secondary: rgb(0 0 0);
    --yt-spec-general-background-a: #000000;
    --yt-spec-general-background-b: #0a0a0a;
    --yt-spec-general-background-c: #000000;
    --yt-spec-error-background: #000000;
    --yt-spec-text-primary: #92ffe2;
    --yt-spec-text-primary-inverse: #fff;
    --yt-spec-text-secondary: #606060;
    --yt-spec-text-disabled: #909090;
    --yt-spec-call-to-action: #42f5aa;
    --yt-spec-call-to-action-inverse: #42f5aa;
    --yt-spec-suggested-action: #def1ff;
    --yt-spec-icon-active-other: #00ff97;
    --yt-spec-icon-inactive: #909090;
    --yt-spec-icon-disabled: #ccc;
    --yt-spec-badge-chip-background: rgba(0, 0, 0, 0.05);
    --yt-spec-verified-badge-background: rgba(0, 0, 0, 0.15);
    --yt-spec-button-chip-background-hover: rgba(0, 0, 0, 0.1);
    --yt-spec-touch-response: #000;
    --yt-spec-touch-response-inverse: #fff;
    --yt-spec-brand-icon-active: #CF5FB5;
    --yt-spec-brand-icon-inactive: #606060;
    --yt-spec-brand-button-background: #CF5FB5 !important; 
    --yt-spec-brand-link-text: #CF5FB5;
    --yt-spec-wordmark-text: #212121;
    --yt-spec-10-percent-layer: rgba(0, 0, 0, 0.1);
    --yt-spec-snackbar-background: #212121;
    --yt-spec-error-indicator: #990412;
    --yt-spec-themed-blue: #CF5FB5;
    --yt-spec-themed-green: #107516;
    --yt-spec-ad-indicator: #00716c;
    --yt-spec-themed-overlay-background: rgba(255, 255, 255, 0.7);
    --yt-spec-commerce-badge-background: #deffde;
    --yt-spec-static-brand-red: #CF5FB5;
    --yt-spec-static-brand-white: #fff;
    --yt-spec-static-brand-black: #212121;
    --yt-spec-static-clear-color: rgba(255, 255, 255, 0);
    --yt-spec-static-clear-black: rgba(0, 0, 0, 0);
    --yt-spec-static-ad-yellow: #CF5FB5;
    --yt-spec-static-grey: #606060;
    --yt-spec-static-overlay-background-solid: #000;
    --yt-spec-static-overlay-background-heavy: rgba(0, 0, 0, 0.8);
    --yt-spec-static-overlay-background-medium: rgba(0, 0, 0, 0.6);
    --yt-spec-static-overlay-background-medium-light: rgba(0, 0, 0, 0.3);
    --yt-spec-static-overlay-background-light: rgba(0, 0, 0, 0.1);
    --yt-spec-static-overlay-text-primary: #fff;
    --yt-spec-static-overlay-text-secondary: rgba(255, 255, 255, 0.7);
    --yt-spec-static-overlay-text-disabled: rgba(255, 255, 255, 0.3);
    --yt-spec-static-overlay-call-to-action: #3ea6ff;
    --yt-spec-static-overlay-icon-active-other: #fff;
    --yt-spec-static-overlay-icon-inactive: rgba(255, 255, 255, 0.7);
    --yt-spec-static-overlay-icon-disabled: rgba(255, 255, 255, 0.3);
    --yt-spec-static-overlay-button-secondary: rgba(255, 255, 255, 0.1);
    --yt-spec-static-overlay-button-primary: rgba(255, 255, 255, 0.3);
    --yt-spec-static-overlay-background-brand: rgba(204, 0, 0, 0.9);
    --yt-spec-assistive-feed-vibrant-gradient-1: #007a65;
    --yt-spec-assistive-feed-vibrant-gradient-2: #7f0e7f;
    --yt-spec-assistive-feed-vibrant-gradient-3: #ff8983;
    --yt-spec-assistive-feed-themed-gradient-1: #d4fff8;
    --yt-spec-assistive-feed-themed-gradient-2: #ffdeff;
    --yt-spec-assistive-feed-themed-gradient-3: #ffe6e6;
    --yt-spec-filled-button-text: #fff;
    --yt-spec-paper-tab-ink: rgba(0, 0, 0, 0.3);
    --yt-spec-call-to-action-faded: rgba(6, 95, 212, 0.3);
    --yt-spec-call-to-action-hover: #42f5aa;
    --yt-spec-brand-button-background-hover: #990412;
    --yt-spec-brand-link-text-faded: rgba(204, 0, 0, 0.3);
    --yt-spec-filled-button-focus-outline: rgba(0, 0, 0, 0.6);
    --yt-spec-selected-nav-text: #CF5FB5;
    --yt-spec-static-overlay-button-hover: rgba(255, 255, 255, 0.5);
    background-color: #f9f9f9 !important;
}

.ytp-chrome-controls .ytp-button[aria-pressed]:after {
    background-color: #CF5FB5;
    -webkit-transition: left .1s cubic-bezier(0.4,0,1,1),width .1s cubic-bezier(0.4,0,1,1);
    transition: left .1s cubic-bezier(0.4,0,1,1),width .1s cubic-bezier(0.4,0,1,1);
}

button.yt-icon-button {
vertical-align: middle;
outline: none;
background: none;
margin: 0;
border: none;
padding: 0;
color: #42f5aa;
}

html:not(.style-scope)[system-icons] {
    --yt-spec-icon-active-other: #030303;
    --yt-spec-icon-inactive: #030303;
    --yt-spec-icon-disabled: #909090;
    --yt-spec-brand-icon-active: #42f5aa;
    --yt-spec-brand-icon-inactive: #42f5aa;
    --yt-button-icon-button-text-color: var(--yt-spec-text-primary);
}

html:not(.style-scope) {
    --paper-input-container-shared-input-style_-_position: relative;
    --paper-input-container-shared-input-style_-_outline: none;
    --paper-input-container-shared-input-style_-_box-shadow: none;
    --paper-input-container-shared-input-style_-_padding: 0;
    --paper-input-container-shared-input-style_-_margin: 0;
    --paper-input-container-shared-input-style_-_width: 100%;
    --paper-input-container-shared-input-style_-_max-width: 100%;
    --paper-input-container-shared-input-style_-_background: transparent;
    --paper-input-container-shared-input-style_-_border: none;
    --paper-input-container-shared-input-style_-_color: var(--paper-input-container-input-color, var(--primary-text-color));
    --paper-input-container-shared-input-style_-_-webkit-appearance: none;
    --paper-input-container-shared-input-style_-_text-align: apply-shim-inherit;
    --paper-input-container-shared-input-style_-_vertical-align: var(--paper-input-container-input-align, bottom);
    --paper-input-container-shared-input-style_-_font-family: var(--paper-font-subhead_-_font-family);
    --paper-input-container-shared-input-style_-_-webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing);
    --paper-input-container-shared-input-style_-_font-size: var(--paper-font-subhead_-_font-size);
    --paper-input-container-shared-input-style_-_font-weight: var(--paper-font-subhead_-_font-weight);
    --paper-input-container-shared-input-style_-_line-height: var(--paper-font-subhead_-_line-height);
}
html:not(.style-scope) {
    --paper-font-common-base_-_font-family: "Roboto", "Noto", sans-serif;
    --paper-font-common-base_-_-webkit-font-smoothing: antialiased;
    --paper-font-common-nowrap_-_white-space: nowrap;
    --paper-font-common-nowrap_-_overflow: hidden;
    --paper-font-common-nowrap_-_text-overflow: ellipsis;
    --paper-font-title_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-title_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-title_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-title_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-title_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-title_-_font-size: 20px;
    --paper-font-title_-_font-weight: 500;
    --paper-font-title_-_line-height: 28px;
    --paper-font-subhead_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-subhead_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-subhead_-_font-size: 16px;
    --paper-font-subhead_-_font-weight: 400;
    --paper-font-subhead_-_line-height: 24px;
    --paper-font-body1_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-body1_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-body1_-_font-size: 14px;
    --paper-font-body1_-_font-weight: 400;
    --paper-font-body1_-_line-height: 20px;
    --paper-font-caption_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-caption_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-caption_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-caption_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-caption_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-caption_-_font-size: 12px;
    --paper-font-caption_-_font-weight: 400;
    --paper-font-caption_-_letter-spacing: 0.011em;
    --paper-font-caption_-_line-height: 20px;
}
html:not(.style-scope) {
    --shadow-transition_-_transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    --shadow-elevation-2dp_-_box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    --shadow-elevation-4dp_-_box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    --shadow-elevation-6dp_-_box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
    --shadow-elevation-8dp_-_box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    --shadow-elevation-12dp_-_box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
    --shadow-elevation-16dp_-_box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    --shadow-elevation-24dp_-_box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}
html:not(.style-scope) {
    --primary-text-color: var(--light--text-color);
    --primary-background-color: var(--light-theme-background-color);
    --secondary-text-color: var(--light-theme-secondary-color);
    --disabled-text-color: var(--light-theme-disabled-color);
    --divider-color: var(--light-theme-divider-color);
    --error-color: #dd2c00;
    --primary-color: #3f51b5;
    --light-primary-color: #c5cae9;
    --dark-primary-color: #303f9f;
    --accent-color: #ff4081;
    --light-accent-color: #ff80ab;
    --dark-accent-color: #f50057;
    --light-theme-background-color: #fff;
    --light-theme-base-color: #000;
    --light-theme-text-color: #212121;
    --light-theme-secondary-color: #737373;
    --light-theme-disabled-color: #9b9b9b;
    --light-theme-divider-color: #dbdbdb;
    --dark-theme-background-color: #212121;
    --dark-theme-base-color: #fff;
    --dark-theme-text-color: #fff;
    --dark-theme-secondary-color: #bcbcbc;
    --dark-theme-disabled-color: #646464;
    --dark-theme-divider-color: #3c3c3c;
    --text-primary-color: var(--dark-theme-text-color);
    --default-primary-color: var(--primary-color);
}
html:not(.style-scope) {
    --layout_-_display: flex;
    --layout-horizontal_-_display: var(--layout_-_display);
    --layout-horizontal_-_-ms-flex-direction: row;
    --layout-horizontal_-_-webkit-flex-direction: row;
    --layout-horizontal_-_flex-direction: row;
    --layout-vertical_-_display: var(--layout_-_display);
    --layout-vertical_-_-ms-flex-direction: column;
    --layout-vertical_-_-webkit-flex-direction: column;
    --layout-vertical_-_flex-direction: column;
    --layout-flex-none_-_-ms-flex: none;
    --layout-flex-none_-_-webkit-flex: none;
    --layout-flex-none_-_flex: none;
    --layout-flex_-_-ms-flex: 1 1 0.000000001px;
    --layout-flex_-_-webkit-flex: 1;
    --layout-flex_-_flex: 1;
    --layout-flex_-_-webkit-flex-basis: 0.000000001px;
    --layout-flex_-_flex-basis: 0.000000001px;
    --layout-center_-_-ms-flex-align: center;
    --layout-center_-_-webkit-align-items: center;
    --layout-center_-_align-items: center;
    --layout-center-justified_-_-ms-flex-pack: center;
    --layout-center-justified_-_-webkit-justify-content: center;
    --layout-center-justified_-_justify-content: center;
    --layout-justified_-_-ms-flex-pack: justify;
    --layout-justified_-_-webkit-justify-content: space-between;
    --layout-justified_-_justify-content: space-between;
}

/* BTTV */
.bttv-rs-theme-light, :root {
    --bttv-rs-gray-50: #f7f7fa;
    --bttv-rs-gray-100: #f2f2f5;
    --bttv-rs-gray-200: #e5e5ea;
    --bttv-rs-gray-300: #d9d9d9;
    --bttv-rs-gray-400: #c5c6c7;
    --bttv-rs-gray-500: #a6a6a6;
    --bttv-rs-gray-600: #8e8e93;
    --bttv-rs-gray-700: #7a7a7a;
    --bttv-rs-gray-800: #575757;
    --bttv-rs-gray-900: #272c36;
    --bttv-rs-primary-50: #f6f2ff;
    --bttv-rs-primary-100: #e2d4ff;
    --bttv-rs-primary-200: #ccb0ff;
    --bttv-rs-primary-300: #b68cff;
    --bttv-rs-primary-400: #a269ff;
    --bttv-rs-primary-500: #9146ff;
    --bttv-rs-primary-600: #8331f5;
    --bttv-rs-primary-700: #721de0;
    --bttv-rs-primary-800: #5e0cc2;
    --bttv-rs-primary-900: #470099;
    --bttv-rs-red-50: #fff2f2;
    --bttv-rs-red-100: #fccfcf;
    --bttv-rs-red-200: #faa9a7;
    --bttv-rs-red-300: #fa8682;
    --bttv-rs-red-400: #f7635c;
    --bttv-rs-red-500: #f44336;
    --bttv-rs-red-600: #eb3626;
    --bttv-rs-red-700: #d62915;
    --bttv-rs-red-800: #b81c07;
    --bttv-rs-red-900: #8f1300;
    --bttv-rs-orange-50: #fff8f2;
    --bttv-rs-orange-100: #ffdfc2;
    --bttv-rs-orange-200: #fcc690;
    --bttv-rs-orange-300: #fcb160;
    --bttv-rs-orange-400: #fa9b2f;
    --bttv-rs-orange-500: #fa8900;
    --bttv-rs-orange-600: #f08800;
    --bttv-rs-orange-700: #db8000;
    --bttv-rs-orange-800: #bd7100;
    --bttv-rs-orange-900: #945b00;
    --bttv-rs-yellow-50: #fffaf2;
    --bttv-rs-yellow-100: #ffe9c2;
    --bttv-rs-yellow-200: #ffd991;
    --bttv-rs-yellow-300: #ffca61;
    --bttv-rs-yellow-400: #ffbe30;
    --bttv-rs-yellow-500: #ffb300;
    --bttv-rs-yellow-600: #f5af00;
    --bttv-rs-yellow-700: #e0a500;
    --bttv-rs-yellow-800: #c29100;
    --bttv-rs-yellow-900: #997500;
    --bttv-rs-green-50: #eeffed;
    --bttv-rs-green-100: #c8f0c7;
    --bttv-rs-green-200: #a5e0a4;
    --bttv-rs-green-300: #82cf82;
    --bttv-rs-green-400: #65bf67;
    --bttv-rs-green-500: #4caf50;
    --bttv-rs-green-600: #37ab3c;
    --bttv-rs-green-700: #22a12a;
    --bttv-rs-green-800: #0f9119;
    --bttv-rs-green-900: #007d0c;
    --bttv-rs-cyan-50: #f2ffff;
    --bttv-rs-cyan-100: #bcf4f7;
    --bttv-rs-cyan-200: #87e6ed;
    --bttv-rs-cyan-300: #57dae6;
    --bttv-rs-cyan-400: #2acadb;
    --bttv-rs-cyan-500: #00bcd4;
    --bttv-rs-cyan-600: #00b1cc;
    --bttv-rs-cyan-700: #00a0bd;
    --bttv-rs-cyan-800: #008aa6;
    --bttv-rs-cyan-900: #006e87;
    --bttv-rs-blue-50: #f0f9ff;
    --bttv-rs-blue-100: #c5e7fc;
    --bttv-rs-blue-200: #9bd4fa;
    --bttv-rs-blue-300: #72c0f7;
    --bttv-rs-blue-400: #49abf5;
    --bttv-rs-blue-500: #2196f3;
    --bttv-rs-blue-600: #1787e8;
    --bttv-rs-blue-700: #0d73d4;
    --bttv-rs-blue-800: #045cb5;
    --bttv-rs-blue-900: #00448c;
    --bttv-rs-violet-50: #f6f2ff;
    --bttv-rs-violet-100: #d5c9f0;
    --bttv-rs-violet-200: #b6a1e3;
    --bttv-rs-violet-300: #987bd4;
    --bttv-rs-violet-400: #805ac7;
    --bttv-rs-violet-500: #673ab7;
    --bttv-rs-violet-600: #5f2bb3;
    --bttv-rs-violet-700: #531ba8;
    --bttv-rs-violet-800: #470c99;
    --bttv-rs-violet-900: #390085;
    --bttv-rs-state-success: #4caf50;
    --bttv-rs-state-info: #2196f3;
    --bttv-rs-state-warning: #ffb300;
    --bttv-rs-state-error: #f44336;
    --bttv-rs-body: #fff;
    --bttv-rs-bg-success: #edfae1;
    --bttv-rs-bg-info: #e9f5fe;
    --bttv-rs-bg-warning: #fff9e6;
    --bttv-rs-bg-error: #fde9ef;
    --bttv-rs-text-link: #721de0;
    --bttv-rs-text-link-hover: #5e0cc2;
    --bttv-rs-text-link-active: #470099;
    --bttv-rs-text-primary: #575757;
    --bttv-rs-text-secondary: #8e8e93;
    --bttv-rs-text-tertiary: #a6a6a6;
    --bttv-rs-text-heading: #272c36;
    --bttv-rs-text-inverse: #f7f7fa;
    --bttv-rs-text-heading-inverse: #fff;
    --bttv-rs-text-active: #721de0;
    --bttv-rs-text-disabled: #c5c6c7;
    --bttv-rs-text-error: #f44336;
    --bttv-rs-border-primary: #e5e5ea;
    --bttv-rs-border-secondary: #f2f2f5;
    --bttv-rs-bg-card: #fff;
    --bttv-rs-bg-overlay: #fff;
    --bttv-rs-bg-well: #f7f7fa;
    --bttv-rs-bg-active: #9146ff;
    --bttv-rs-bg-backdrop: rgba(39,44,54,0.3);
    --bttv-rs-state-hover-bg: #f6f2ff;
    --bttv-rs-color-focus-ring: rgba(145,70,255,0.25);
    --bttv-rs-state-focus-shadow: 0 0 0 3px rgba(145,70,255,0.25);
    --bttv-rs-state-focus-outline: 3px solid rgba(145,70,255,0.25);
    --bttv-rs-shadow-overlay: 0 4px 4px rgba(0,0,0,0.12),0 0 10px rgba(0,0,0,0.06);
    --bttv-rs-btn-default-bg: #f7f7fa;
    --bttv-rs-btn-default-text: #575757;
    --bttv-rs-btn-default-hover-bg: #e5e5ea;
    --bttv-rs-btn-default-active-bg: #d9d9d9;
    --bttv-rs-btn-default-active-text: #272c36;
    --bttv-rs-btn-default-disabled-bg: #f7f7fa;
    --bttv-rs-btn-default-disabled-text: #c5c6c7;
    --bttv-rs-btn-primary-bg: #9146ff;
    --bttv-rs-btn-primary-text: #fff;
    --bttv-rs-btn-primary-hover-bg: #8331f5;
    --bttv-rs-btn-primary-active-bg: #721de0;
    --bttv-rs-btn-subtle-text: #8e8e93;
    --bttv-rs-btn-subtle-hover-bg: #f7f7fa;
    --bttv-rs-btn-subtle-hover-text: #575757;
    --bttv-rs-btn-subtle-active-bg: #e5e5ea;
    --bttv-rs-btn-subtle-active-text: #272c36;
    --bttv-rs-btn-subtle-disabled-text: #c5c6c7;
    --bttv-rs-btn-ghost-border: #721de0;
    --bttv-rs-btn-ghost-text: #721de0;
    --bttv-rs-btn-ghost-hover-border: #5e0cc2;
    --bttv-rs-btn-ghost-hover-text: #5e0cc2;
    --bttv-rs-btn-ghost-active-border: #470099;
    --bttv-rs-btn-ghost-active-text: #470099;
    --bttv-rs-btn-link-text: #721de0;
    --bttv-rs-btn-link-hover-text: #5e0cc2;
    --bttv-rs-btn-link-active-text: #470099;
    --bttv-rs-iconbtn-addon: #f2f2f5;
    --bttv-rs-iconbtn-activated-addon: #d9d9d9;
    --bttv-rs-iconbtn-pressed-addon: #c5c6c7;
    --bttv-rs-iconbtn-primary-addon: #8331f5;
    --bttv-rs-iconbtn-primary-activated-addon: #721de0;
    --bttv-rs-iconbtn-primary-pressed-addon: #5e0cc2;
    --bttv-rs-divider-border: #e5e5ea;
    --bttv-rs-loader-ring: rgba(247,247,250,0.8);
    --bttv-rs-loader-rotor: #a6a6a6;
    --bttv-rs-loader-backdrop: hsla(0,0%,100%,0.9);
    --bttv-rs-loader-ring-inverse: rgba(247,247,250,0.3);
    --bttv-rs-loader-rotor-inverse: #fff;
    --bttv-rs-loader-backdrop-inverse: rgba(39,44,54,0.83);
    --bttv-rs-message-success-header: var(--bttv-rs-text-heading);
    --bttv-rs-message-success-text: var(--bttv-rs-text-primary);
    --bttv-rs-message-success-icon: #4caf50;
    --bttv-rs-message-success-bg: #eeffed;
    --bttv-rs-message-info-header: var(--bttv-rs-text-heading);
    --bttv-rs-message-info-text: var(--bttv-rs-text-primary);
    --bttv-rs-message-info-icon: #2196f3;
    --bttv-rs-message-info-bg: #f0f9ff;
    --bttv-rs-message-warning-header: var(--bttv-rs-text-heading);
    --bttv-rs-message-warning-text: var(--bttv-rs-text-primary);
    --bttv-rs-message-warning-icon: #ffb300;
    --bttv-rs-message-warning-bg: #fffaf2;
    --bttv-rs-message-error-header: var(--bttv-rs-text-heading);
    --bttv-rs-message-error-text: var(--bttv-rs-text-primary);
    --bttv-rs-message-error-icon: #f44336;
    --bttv-rs-message-error-bg: #fff2f2;
    --bttv-rs-tooltip-bg: #272c36;
    --bttv-rs-tooltip-text: #fff;
    --bttv-rs-progress-bg: #e5e5ea;
    --bttv-rs-progress-bar: #9146ff;
    --bttv-rs-progress-bar-success: #4caf50;
    --bttv-rs-progress-bar-fail: #f44336;
    --bttv-rs-placeholder: #f2f2f5;
    --bttv-rs-placeholder-active: #e5e5ea;
    --bttv-rs-dropdown-divider: #e5e5ea;
    --bttv-rs-dropdown-item-bg-hover: #f6f2ff;
    --bttv-rs-dropdown-item-bg-active: rgba(246,242,255,0.5);
    --bttv-rs-dropdown-item-text-active: #721de0;
    --bttv-rs-dropdown-header-text: #a6a6a6;
    --bttv-rs-dropdown-shadow: 0 0 10px rgba(0,0,0,0.06),0 4px 4px rgba(0,0,0,0.12);
    --bttv-rs-menuitem-active-bg: rgba(226,212,255,0.5);
    --bttv-rs-menuitem-active-text: #721de0;
    --bttv-rs-steps-border: #8e8e93;
    --bttv-rs-steps-state-finish: #9146ff;
    --bttv-rs-steps-border-state-finish: #9146ff;
    --bttv-rs-steps-state-wait: #8e8e93;
    --bttv-rs-steps-state-process: #9146ff;
    --bttv-rs-steps-state-error: #f44336;
    --bttv-rs-steps-border-state-error: #f44336;
    --bttv-rs-steps-icon-state-process: #9146ff;
    --bttv-rs-steps-icon-state-error: #f44336;
    --bttv-rs-navs-text: #8e8e93;
    --bttv-rs-navs-text-hover: #575757;
    --bttv-rs-navs-bg-hover: #e5e5ea;
    --bttv-rs-navs-text-active: #272c36;
    --bttv-rs-navs-bg-active: #e5e5ea;
    --bttv-rs-navs-tab-border: #d9d9d9;
    --bttv-rs-navs-subtle-border: #f7f7fa;
    --bttv-rs-navs-selected: #721de0;
    --bttv-rs-navbar-default-bg: #f7f7fa;
    --bttv-rs-navbar-default-text: #575757;
    --bttv-rs-navbar-default-selected-text: #721de0;
    --bttv-rs-navbar-default-hover-bg: #e5e5ea;
    --bttv-rs-navbar-default-hover-text: #575757;
    --bttv-rs-navbar-inverse-bg: #9146ff;
    --bttv-rs-navbar-inverse-text: #fff;
    --bttv-rs-navbar-inverse-selected-bg: #721de0;
    --bttv-rs-navbar-inverse-hover-bg: #8331f5;
    --bttv-rs-navbar-inverse-hover-text: #fff;
    --bttv-rs-navbar-subtle-bg: #fff;
    --bttv-rs-navbar-subtle-text: #8e8e93;
    --bttv-rs-navbar-subtle-selected-text: #721de0;
    --bttv-rs-navbar-subtle-hover-bg: #f7f7fa;
    --bttv-rs-navbar-subtle-hover-text: #575757;
    --bttv-rs-sidenav-default-bg: #f7f7fa;
    --bttv-rs-sidenav-default-text: #575757;
    --bttv-rs-sidenav-default-selected-text: #721de0;
    --bttv-rs-sidenav-default-hover-bg: #e5e5ea;
    --bttv-rs-sidenav-default-hover-text: #575757;
    --bttv-rs-sidenav-inverse-bg: #9146ff;
    --bttv-rs-sidenav-inverse-text: #fff;
    --bttv-rs-sidenav-inverse-selected-bg: #721de0;
    --bttv-rs-sidenav-inverse-hover-bg: #8331f5;
    --bttv-rs-sidenav-subtle-bg: #fff;
    --bttv-rs-sidenav-subtle-text: #8e8e93;
    --bttv-rs-sidenav-subtle-selected-text: #721de0;
    --bttv-rs-sidenav-subtle-hover-bg: #f7f7fa;
    --bttv-rs-sidenav-subtle-hover-text: #575757;
    --bttv-rs-input-bg: #fff;
    --bttv-rs-input-focus-border: #9146ff;
    --bttv-rs-input-disabled-bg: #f7f7fa;
    --bttv-rs-listbox-option-hover-bg: rgba(226,212,255,0.5);
    --bttv-rs-listbox-option-hover-text: #721de0;
    --bttv-rs-listbox-option-selected-text: #721de0;
    --bttv-rs-listbox-option-selected-bg: #f6f2ff;
    --bttv-rs-listbox-option-disabled-text: #c5c6c7;
    --bttv-rs-listbox-option-disabled-selected-text: #ccb0ff;
    --bttv-rs-checkbox-icon: #fff;
    --bttv-rs-checkbox-border: #d9d9d9;
    --bttv-rs-checkbox-checked-bg: #9146ff;
    --bttv-rs-checkbox-disabled-bg: #f7f7fa;
    --bttv-rs-radio-marker: #fff;
    --bttv-rs-radio-border: #d9d9d9;
    --bttv-rs-radio-checked-bg: #9146ff;
    --bttv-rs-radio-disabled-bg: #f7f7fa;
    --bttv-rs-rate-symbol: #8e8e93;
    --bttv-rs-rate-symbol-checked: #ffb300;
    --bttv-rs-toggle-bg: #d9d9d9;
    --bttv-rs-toggle-thumb: #fff;
    --bttv-rs-toggle-loader-ring: rgba(247,247,250,0.3);
    --bttv-rs-toggle-loader-rotor: #fff;
    --bttv-rs-toggle-hover-bg: #c5c6c7;
    --bttv-rs-toggle-disabled-bg: #f7f7fa;
    --bttv-rs-toggle-disabled-thumb: #fff;
    --bttv-rs-toggle-checked-bg: #9146ff;
    --bttv-rs-toggle-checked-thumb: #fff;
    --bttv-rs-toggle-checked-hover-bg: #8331f5;
    --bttv-rs-toggle-checked-disabled-bg: #e2d4ff;
    --bttv-rs-toggle-checked-disabled-thumb: #fff;
    --bttv-rs-slider-bar: #f2f2f5;
    --bttv-rs-slider-hover-bar: #e5e5ea;
    --bttv-rs-slider-thumb-border: #9146ff;
    --bttv-rs-slider-thumb-bg: #fff;
    --bttv-rs-slider-thumb-hover-shadow: 0 0 0 8px rgba(145,70,255,0.25);
    --bttv-rs-slider-progress: #9146ff;
    --bttv-rs-uploader-item-bg: #d9d9d9;
    --bttv-rs-uploader-item-hover-bg: #f7f7fa;
    --bttv-rs-uploader-overlay-bg: hsla(0,0%,100%,0.8);
    --bttv-rs-uploader-dnd-bg: #fff;
    --bttv-rs-uploader-dnd-border: #e5e5ea;
    --bttv-rs-uploader-dnd-hover-border: #9146ff;
    --bttv-rs-avatar-bg: #d9d9d9;
    --bttv-rs-avatar-text: #fff;
    --bttv-rs-badge-bg: #f44336;
    --bttv-rs-badge-text: #fff;
    --bttv-rs-tag-bg: #f7f7fa;
    --bttv-rs-tag-close: #f44336;
    --bttv-rs-carousel-bg: #8e8e93;
    --bttv-rs-carousel-indicator: hsla(0,0%,100%,0.4);
    --bttv-rs-carousel-indicator-hover: #fff;
    --bttv-rs-carousel-indicator-active: #9146ff;
    --bttv-rs-panel-shadow: 0 4px 4px rgba(0,0,0,0.12),0 0 10px rgba(0,0,0,0.06);
    --bttv-rs-list-bg: #fff;
    --bttv-rs-list-border: #e5e5ea;
    --bttv-rs-list-hover-bg: #f6f2ff;
    --bttv-rs-list-placeholder-bg: rgba(246,242,255,0.5);
    --bttv-rs-list-placeholder-border: #9146ff;
    --bttv-rs-timeline-indicator-bg: #d9d9d9;
    --bttv-rs-timeline-indicator-active-bg: #9146ff;
    --bttv-rs-table-shadow: rgba(9,9,9,0.08);
    --bttv-rs-table-sort: #9146ff;
    --bttv-rs-table-resize: #9146ff;
    --bttv-rs-table-scrollbar-track: #e5e5ea;
    --bttv-rs-table-scrollbar-thumb: #575757;
    --bttv-rs-table-scrollbar-thumb-active: #272c36;
    --bttv-rs-table-scrollbar-vertical-track: rgba(229,229,234,0.4);
    --bttv-rs-drawer-shadow: 0 4px 4px rgba(0,0,0,0.12),0 0 10px rgba(0,0,0,0.06);
    --bttv-rs-modal-shadow: 0 4px 4px rgba(0,0,0,0.12),0 0 10px rgba(0,0,0,0.06);
    --bttv-rs-form-errormessage-text: #f44336;
    --bttv-rs-form-errormessage-bg: #fff;
    --bttv-rs-form-errormessage-border: #e5e5ea;
    --bttv-rs-picker-value: #721de0;
    --bttv-rs-picker-count-bg: #9146ff;
    --bttv-rs-picker-count-text: #fff;
    --bttv-rs-calendar-today-bg: #9146ff;
    --bttv-rs-calendar-today-text: #fff;
    --bttv-rs-calendar-range-bg: rgba(226,212,255,0.5);
    --bttv-rs-calendar-time-unit-bg: #f7f7fa;
    --bttv-rs-calendar-date-selected-text: #fff;
    --bttv-rs-popover-shadow: 0 1px 8px rgba(0,0,0,0.12);
}

.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border: 1px solid #424242;
    border-radius: 5px;
}
.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar-track {
    background-color: #424242;
}
}

@-moz-document domain("youtube.com") {
yt-icon.ytd-logo {
    height: 20px;
    width: 90px;
    padding: 18px 14px 18px 16px;
    color: #00ffad;

}
/* remove clip button */
#flexible-item-buttons > ytd-button-renderer {
    display: none;
}

/* sub button */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
    background-color: #ff67f6;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled:hover {
    background-color: #e033d6;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

#owner.ytd-watch-metadata {
    align-items: center;
    justify-content: space-between;
}

ytd-button-renderer.style-destructive[is-paper-button] {
    border-radius: 4px;
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}

ytd-button-renderer.style-destructive[is-paper-button]:hover {
    background-color: rgb(255, 43, 181);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-property: background-color;
}
}

@-moz-document domain("music.youtube.com") {
ytmusic-play-button-renderer:hover .content-wrapper.ytmusic-play-button-renderer, ytmusic-play-button-renderer:focus .content-wrapper.ytmusic-play-button-renderer {
    transform: scale(var(--ytmusic-play-button-active-scale-factor));
    background: rgb(255 143 221 / 88%);
}

/* sub button */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
    background-color: #ff67f6;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled:hover {
    background-color: #e033d6;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color;

}

body {
    background-color: #000000;
}

html {
    --ytmusic-color-white1: #fff;
    --ytmusic-color-grey2: #aaa;
    --ytmusic-color-grey3: #909090;
    --ytmusic-color-grey4: #717171;
    --ytmusic-color-grey5: #606060;
    --ytmusic-color-black1: #212121;
    --ytmusic-color-black2: #181818;
    --ytmusic-color-black4: #030303;
    --ytmusic-color-blackpure: #000;
    --ytmusic-color-lightred: #ff4e45;
    --ytmusic-color-youtubered: #ff43fd;
    --ytmusic-color-mediumred: #c00;
    --ytmusic-color-lightblue: #3ea6ff;
    --ytmusic-color-yellow: #fbc02d;
    --ytmusic-color-lightgreen: #2ba640;
    --ytmusic-color-lightteal: #00aaa7;
    --ytmusic-color-white1-alpha10: rgba(255, 255, 255, 0.1);
    --ytmusic-color-white1-alpha15: rgba(255, 255, 255, 0.15);
    --ytmusic-color-white1-alpha20: rgba(255, 255, 255, 0.2);
    --ytmusic-color-white1-alpha30: rgba(255, 255, 255, 0.3);
    --ytmusic-color-white1-alpha50: rgba(255, 255, 255, 0.5);
    --ytmusic-color-white1-alpha70: rgba(255, 255, 255, 0.7);
    --ytmusic-color-blackpure-alpha0: rgba(0, 0, 0, 0);
    --ytmusic-color-blackpure-alpha10: rgba(0, 0, 0, 0.1);
    --ytmusic-color-blackpure-alpha60: rgba(0, 0, 0, 0.6);
    --ytmusic-color-blackpure-alpha65: rgba(0, 0, 0, 0.65);
    --ytmusic-color-mediumred-alpha90: rgba(204, 0, 0, 0.9);
    --ytmusic-opalescence-dark-grey: #333;
    --ytmusic-color-white-opacity-0-05: rgba(255, 255, 255, 0.05);
    --ytmusic-color-white-opacity-0-5: rgba(255, 255, 255, 0.5);
    --ytmusic-color-black-opacity-0-4: rgba(0, 0, 0, 0.4);
    --ytmusic-color-blue-1: #065fd4;
    --ytmusic-color-green-1: #3a923f;
    --ytmusic-color-grey-4: #ccc;
    --ytmusic-white-5: #4e4e4e;
}
}