/* ==UserStyle==
@name           YouTube Music
@namespace      furthir/ytm-css
@version        0.1
@description  	ytm css
@author         Fython
==/UserStyle== */


@-moz-document domain("music.youtube.com") {
:root {
	--paper-toast-background-color: rgba(0,0,0,0.3);
	--paper-dialog-background-color: rgba(0,0,0,0.3);
}
}
@-moz-document domain("music.youtube.com") {

html, body {
	background: black !important;
}
	
/* apply bg */
#nav-bar-background, #header.ytmusic-item-section-renderer, ytmusic-tabs.stuck, tp-yt-paper-listbox.ytmusic-menu-popup-renderer, ytmusic-add-to-playlist-renderer {
	background: rgba(0, 0, 0, 0.3) !important;
}

#nav-bar-divider {
  display: none !important;
}

ytmusic-player-bar, #player-bar-background.ytmusic-app-layout {
	background: transparent !important;
	background-color: transparent !important;
}

/* apply blur */
tp-yt-paper-toast, tp-yt-paper-dialog, ytmusic-player-bar, #player-bar-background.ytmusic-app-layout, ytmusic-tabs, #nav-bar-background, #header.ytmusic-item-section-renderer, tp-yt-paper-listbox.ytmusic-menu-popup-renderer, ytmusic-add-to-playlist-renderer {
	backdrop-filter: blur(6px) !important;
}

.side-panel.ytmusic-player-page {
	display: block;
}

ytmusic-guide-renderer {
	padding-bottom: 0;
}
	
#primaryProgress.tp-yt-paper-progress {
	background: rgb(255, 144, 238) !important;

}

#progress-bar.ytmusic-player-bar[focused], ytmusic-player-bar:hover #progress-bar.ytmusic-player-bar {
	--paper-slider-knob-color: rgb(255, 144, 238) !important;
}

.logo.ytmusic-logo {
    filter: hue-rotate(306deg) contrast(2) grayscale(0.05) brightness(1.5);
}

/* ------------------ */
}
