:root {
	--paper-toast-background-color: rgba(0,0,0,0.3);
	--paper-dialog-background-color: rgba(0,0,0,0.3);
	--pink: rgb(255, 144, 238);
}
html, body {
	background: black !important;
	--yt-spec-menu-background: rgba(0,0,0,0.5);
}
	
/* apply bg */
#nav-bar-background, #header.ytmusic-item-section-renderer, ytmusic-tabs.stuck, tp-yt-paper-listbox.ytmusic-menu-popup-renderer, ytmusic-add-to-playlist-renderer {
	background: rgba(0, 0, 0, 0.3) !important;
}

#nav-bar-divider {
  display: none !important;
}

ytmusic-player-bar, #player-bar-background.ytmusic-app-layout {
	background: transparent !important;
	background-color: transparent !important;
}

/* apply blur */
tp-yt-paper-toast, tp-yt-paper-dialog, ytmusic-player-bar, #player-bar-background.ytmusic-app-layout, ytmusic-tabs, #nav-bar-background, #header.ytmusic-item-section-renderer, tp-yt-paper-listbox.ytmusic-menu-popup-renderer, ytmusic-add-to-playlist-renderer {
	backdrop-filter: blur(10px) !important;
}

.side-panel.ytmusic-player-page {
	display: block;
}

ytmusic-guide-renderer {
	padding-bottom: 0;
}
	
#primaryProgress.tp-yt-paper-progress {
	background: var(--pink) !important;

}

#progress-bar.ytmusic-player-bar[focused], ytmusic-player-bar:hover #progress-bar.ytmusic-player-bar {
	--paper-slider-knob-color: var(--pink) !important;
}

#hover-time-info.ytmusic-player-bar { /* seek tooltip */
	background-color: rgba(0,0,0,0.8) !important;
}

ytmusic-app-layout[player-visible]>[slot=player-bar] { /* layer tooltip above */
	z-index: 105;
}

#contentWrapper.tp-yt-iron-dropdown > *, tp-yt-paper-listbox.ytmusic-menu-popup-renderer { /* context menus */
	border-radius: 10px !important;
	
}
tp-yt-paper-listbox.ytmusic-menu-popup-renderer {
	border: 1px solid var(--pink) !important;
}

ytd-multi-page-menu-renderer { /* google profile context */
	border: 1px solid var(--pink) !important;
}

.logo.ytmusic-logo { /* set logo color */
    filter: hue-rotate(306deg) contrast(2) grayscale(0.05) brightness(1.5);
}

